
@font-face {
  font-family: 'FuturaStd-Condensed';
  src: url('../fonts/FuturaStd-Condensed.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Condensed';
  src:  url('../fonts/FuturaStd-Condensed.otf')  format('opentype'),
	     url(d../fonts/ata:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEBgABAAAAAAdHQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABABAAAAD4A
AABQiyWUMUZGVE0AAEBEAAAAGgAAABxOtP7kR0RFRgAAPCwAAABAAAAAUAZIBOxHUE9TAAA9kAAA
AnMAAAX80fzHfUdTVUIAADxsAAABJAAAAf7ybtNsT1MvMgAAAegAAABVAAAAYFnZcXBjbWFwAAAE
pAAAAggAAAKKa7/Shmdhc3AAADwkAAAACAAAAAj//wADZ2x5ZgAACLwAAC5IAABYAFzHcU5oZWFk
AAABbAAAADUAAAA2A5AXAGhoZWEAAAGkAAAAIQAAACQG5QOiaG10eAAAAkAAAAJhAAAEGIXCHExs
b2NhAAAGrAAAAhAAAAIQ1DzrPG1heHAAAAHIAAAAHwAAACABUACjbmFtZQAANwQAAAL7AAAGP7Bm
OcBwb3N0AAA6AAAAAiIAAALYHhfjxXjaY2BkYGBgYkt7GRN7PZ7f5isDN/MLoAjDhe1pSTD6f/J/
DeY65pMMCgwcDEwgUQCTgA4cAAAAeNpjYGRgYLb8H8hwgvnF/+T/ycx1DEARZMDICgCjLwaNAAAA
eNpjYGRgYGRnWMDAzgACTEDMCIQMDA5gPgMAE1MA9QB42mNgZmxk/MLAzMDB1MUUwcDA4A2hGeMY
jBilGBiYuFnZmJhYmJlYgHLMDEjA0cXJlcGBQeE3E7Pl/0CGE8wnGW4oADWC5Bh/Mn0CUgoMLAAp
LQ0JAAAAeNptk01IVFEYht/vTNDf6BT+MJpjIjXgzEQY1SbcGK3s/0ckd0Y/0qpFBCEtyqCohYug
hVBRm6TauWgWLVtEtcgIMswWQbYQCzMkMU7POd7EpIFn3nPPPd+5577vd21G8Wf7+HsN82rXnNbb
oB+1QTW6FhVsSnXMHbZqtcAOO6mczajE+tWaVhNatNv+M+ub4QhshhbIQQGKkE801BVhTdhjkWNq
TjWpwe5ohd1Xm52jbgTthk54xfWo2jTOeKtW2UO0Q22uVVl7z3iM+/3oJ/Qe2qMq2+3n7S3jK1rp
DsrZI9ZeQ68rYyXlNedvocXkDLKs2q2PM/cxVxs1Z73K6Zdq7BLjfs4+rIaA3YjjotvPWubtQlIX
aiq4rlalPiptVxmfUoVN+N/UVNp53u8A6uTw9DiaSryM3uNPD9Tg/yS6Nq65i3dZpfCnQo/9NP7X
xxq8D3OW9d9tQNvi3KwykI7vEs71NOZa5Hov8yXqv1Gfd2dUgiaoDd5H3/+D24kvIYvuJIsFtpND
LaD+B3yxET+7mMNygr9jvFPIYikhi5voEPf6Er+XQb65mEXvv+C9wUYN+3F4E/3/m8NyZuJ8Vcxi
KSGLkBkasrQO/5O9JlynCm4PdaGHyHGxZ0Jug/4FXq5bAN+z5JHVUdgFWyDD3KyTGuN5ni98I6G/
Ul91We+0AfIB6+K9u6Lm7TTPCwwozbqzqVYVNKV6yOuiP0EvVLFftZuSwt6pB9pkZZhUPd9onT0h
x5A/a2PeH/BuiG/wEL1S5vllxmWyKMd7JXvJs59BoqGvQm/EHsko/QcpCOHQAAAAeNpjYGBgZoBg
GQZGIMnA2ALkMYL5LIwZQDqMwYGBlUGMoY7hP6MhoxNjMGMiYwVjHeMkpuNMJ5nuMq9k3sN8QEFA
QURBSkFOQUlBTcFAwUrBRWGNorCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//A81X
YFgANNeRMYgxAWhuLdDcY0Bzb8DNFVaQUJBRUACba4nFXEGguZJwc1OA5jL+////8f9D/yf+b/pf
/D/9f+B/3/9W/9j/sf398Vf3r/RfiQcnHxx/cOTB4QeHHux/sO3BugdLH9jdv3H/1P3j9w/ce3vv
1b1H9x7eu3/vzr2b987e23hv1r3pt41Z/0LChxaAkY0BbjgjE5BgQlcAjCIWVjZ2Dk4ubh5ePn4B
QSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV09fQNDI2MTUzNzC0sraxtbO3sHRydnF1c3dw9P
L28fXz//gMCg4JDQsPCIyKjomNi4+IREhrb2zu7JM+YtXrRk2dLlK1evWrN2/boNGzdv3bJtx/Y9
u/fue1SUkpr5pGJhQfabsqxfHbO+F//+k17+/tPHGz9yaq6t2NWYnPftzM8PubVPk5papx89duv2
/Qd37u78e/Dky1fPX/z7/7jy3sNnLT3NvV39Eyb2TZ3GMGXO3NmHzl4pvHDxUtXVy+cAhxDS5gAA
ACYAJgAmACYAPgBSAIYAzgFUAZwBqgHAAdYB+AIMAhoCJgI6AkgCjgKeAswDEgMuA1QDlgOoA/QE
KgRMBGgEegSOBKIE7AVMBWgFnAXABfgGDgYiBmwGhAaSBrAGyAbYBwAHHgdSB3QHtAfeCBAIIghK
CGAIiAiuCMYI2gjsCPoJDAkeCSoJOAl8CcIJ5goqCloKggrcCwYLIgs+C1gLZguqC9QMIAxiDKgM
wAzwDQYNMg1IDW4NkA2mDboN6g34DigOTA5MDmgOmA7kDyIPSg9cD7gP3BAiEFYQchCCEI4Q2hDo
EQgRIhFMEYgRlhG+EdwR8BH+Eg4STBJoEpQS0BMsE3gTnBPAE+YUGhRUFI4UtBTgFP4VHBU8FXAV
hBWYFbAV2hYaFlAWjBbIFwgXVBemF8AYBhg2GGYYmBjcGPwZIBl4GcQaEBpeGrobGht8G84b+hwy
HGocpBzyHQYdGh0yHVwdrh3wHkQemB7wH1Qfvh/WIB4gUiCGILwhBCEgIWIhlCGiIbwh1CIsIoAi
vCL2IyojSCNmI6YjuCPKI9gj8CQGJCwkUCRuJIQktCTcJQQlECUeJSwlOiVIJVYlbCWCJZglriXM
JeImECbUJuYm+CcGJz4nbieYJ8goAig8KFwodCiQKJwoqii+KNwpMClkKbwp3Cn4KhQqPCp6Kqoq
6CsYK0wriiuaK8QsAHja3XwJmFTVlfC799XSXfv+at9eVb2qrl5r7bXopheapheaBrrZGoEGRRZB
IgoGjFuiuMUVNxRcEjQaRzNZXDOj0YRRYoyZIRMnxmhMMprfzE9UQOhX/7n3vW6a7gYh3zfzf9/Q
1H7fPeeee/Zz7mOUDPxDn+IXGJZRMaWMjjEyTI05ZGatIStnRiEtMlvRp188Lj7xs8fFm9H8x3/2
OH5htA3dwBTFXxWROPqvTBGVi5gpMpiZWTzKPIcPM2pGyzCOcCyTSzlsbNrM707xfIrfMDJSwpN3
+NDoKwyMN2MT8xGMZ+EKxiqk1Wl4+HQLde3wwKb34R+gh4v/Dji+AuM8TIBheCufT+fJA8aTh5on
Dxa+Z63wg27uOvP62Abzhr5871BPbe9F5k2xTcYtffm+wf5Vg7EhhBu+2iDCP/qCMDyavkrJwPiL
L6KdbJpJATZpu4NTVyI+bLf51Zwf2W1qO5+tRELekU5lM5VKoRJlM7n8Dyq2entU1eF5rEZlLfGW
hBV9dfdVNLRbB6wzBxR6tVsTVS1o65nDpltKzq8MJlYaOIfRWmpV2dmavnkvm1tblbl8vGOzxesy
2NVORWbJwp7z1QQfJVNWPIJEfBz2JM20Mucz6xjGkvJjmwGHK3GmgCypgrJRUakMG5RehV858SfH
2Hd0hMKaRvzFHZU2lcpWKb10GXQlKgVGCCtUJbqJHz45ZdzQacdpCuKuAj4easy0pZtCoaZ0W6ZR
PKLS6W1Gh9aKrVqHwabXq1R6vc0gf2G06XXbT7nAQ8YbOA35mTs5niPjNeQLHTo0agAOcRU/R4fw
i4yBcTBVsD8FnM3E+LAKtgdbBXiBbeEEFR+OZTN5eOTSKYfdplJzeU7NveG2uX1uV1ijcvVdUFcd
rdgQqemftXJtY/+M5rkN2VWF5rlz0bNuLuVyhxMuY8SUEl/7bmNjWXN3Q/vmOSvWLlk4o7+zuXZJ
5pGhzKadlFfmAe/up7xLOXdY5lj6W6J4C/M7fALkibFygBqnBoSuWjY4uGwRPsH94anX33O+8/4H
Es9lYezH8libWshlM8BhHy+ig1H3++8433v9qT9wB+lYH3oKdQJMM+VPsjC1wPF5tZAX8twe4SL7
V75iv0iRVGzgNm+2bsaHr+0Iz2wOt155TUe4uTEyk85RzmB0AB0nEmrNpu1pOw9szWcPdTzxRMd3
EP/rX3e8804HjCstdjJ7mAvJ+vIcK3T3r0hf6BKPGMgcQea3zC9Rgq4dJgg+8wxKdMP3SZD/h5lN
ZC0Osg85sgVfo7JfEnE5ed7pIjgUPyjeg77PFsj1CBgTrekTr+hnCyeWgE4IA89vB57ngecJtyvt
XpA9gzJcqcw2gsQVFJZMJQ4bMOx7qoAe76zlXToVQiqdi6+d+OFR1hBIBQys9IKP+xOd+UXJuFaj
FSoGazsT/slfiIO7Fi+tqFi6WHqB9QwAtkWgt5Ks08yb+YEnVnbhw6MGfB+lZRSeLgNc/YSWmQKm
LGdEaXvImqPcaVA4fKhKE2jLLO69qvl58R9/mAtEDHZdCYsQGvVkOjr44aU7/rZ9EF29vSua1Tnt
vCWEbBIPHUGXwNxZmJvPplMwYSXmwz7Ej0MyYLXdz9ptfLgJYBIBKLAA9gc+XSGBNW5bw3ka/4ya
oXalMeL1CxbVkw+e5w/ZfAY1iqIli1MtnK/CuZJTV7c0+c9fGqrIR0pxSThTHfzdU5wzUm33VLgd
9e1ET/sAoe1ABw1Dtt88xjNWF+JZ1FVdvfL11zH8Lgpdb765EB0UBdQs/hOsgeivLXAdJ/GJOkeQ
BpVKdSgsiA+rt/3Xw86Vq6KrulOt7tpgQ+5qVwQfHnxJ8ZWROZfMCyzyr51xRymxAcBbR9AmmMvL
VJDZWA4EnCzeAESpZAlN8jlrI6pkgerwdTr1k/W342g8kvYYWdiAbLIQsikt5bGItptV6+3GklKH
TltoAKxfwuFQ5awMn+7sEoJVswuJ9ssuXziHGz1hM5U7/QZk9DQlb6P7HYOnS2V+CBGDE0P9H67/
5S/HWQI4muC5mersBJMD2UlJ+2ZgbXYbmx1XTGq7Q8KdYp4i2oyaGnSwgDVeh9GhV7P6gdaBxbPn
LdIF29IPK4zCWrNTo8jXqjz9O72BBr8haK/WOnaiWdhz0+DKxctv8iLH3pqu2cJvo1XN8awrHjKv
XeusqGQo/coB902AF0e4Ns1biaoE2CxQUUH0JJsSMjIO7Nsb7sKBiqsUllChPFob5jRsthFkrakB
qbRO1ID97yQbuitDtkRFc5q/+JkdKHCLEt92t91Z7eWkvQI9gBnQA9aJmgBP0gn8KZoBrT+pImAO
DegfMgfL6CUNZBm/uqf/vMxWei3VSDg1Qbcw5WAnDmAVeDNMPhu165G9HO0Rn0Z97zb/efaPfzxb
osVXQQd+TfI7kD2UVcIDHRBXwchV6GsdHS91dEyaC9mV2QokDeqD6fxjszFUZx1FjaDDK+mO81mO
7GcjrlTCvmO7TZJZVuZXVsCyZ/T2EOcO6lmElWqNsdRoU6NhhcmT5hN1frMCa21lfhtd5TMfIGtZ
0M9yRq/FZTKWGAM2qxJbdHxlJmBzx1ryZQGhOeZD4rcoRSWcvMXPWRZw0jNtDBOF3ZMUEuhShzWf
ZiWDmRuzoeR9Pk1kM5aXOZR+kA1qAcFXqLdqbiwaSM2Lx44a2y/Qm/XZTY9vu+HZF6/v/2ZyRvUP
Vn/rA/aP+27+ZeOWNl+6pKazubdwaWd0xturL036hXnra+JZNLtafD1i0ptvXL/1hh/v+sZzrYWh
8z986MH3nt014xurPO70ouaOG1fxFH8F0Pwe6kvqiLxbeYFX81GB5dn9fQ+t9t7lXYmUthhuJLJ3
++2/34As4pWEW5rgOqJzVMDp4C1azQ6ySJY3y4sClQk0ULGZmJq3O3L3F6oqhMt2rOjRl8caK4fs
iWpzcxlaKBbZppntLeJj+PDImrKmnAZbhzrWrcLlqWZ0hG2juu1ztALo6yC8QVW93ZRO5e1AMDO8
QSti7lDab1HjWwO+UNWf3qvBf1xi9dXl5paHxfeMQ3Z0KbqFrJPgC1AYCyOQdRKDB9YuiVAGzF2l
Qm12FJTZTNOmoNAYTTrNRq68rKO2oh1hlZYLZUKhdIjTKRE+zBr9df1fnTt7c0/WZ1Sg9SoDH5tV
lvNa8eiPkJmrjrRFohrAm8ADG0btfwgUOehlUOihJqR/bPfux8S/gfb9P4NFZpCRx3bD2NIJY/km
ZPzOvfeO0HHiY1TmCC2+DbSopXre5rAZgAqVCmKsgergRrOUPmCxiYlqQvwnP0KsSm/xRGp85TOT
XoNSofckmst6F9qWK0stQYfNb9UpscHrsRptboN2PrpZp20Pt8ca+TKHyZ1rHh5qaFx4Xkve090r
cL6AySyUz2nNDF9ea1XYorMzCRn3++V1ps3kjyd/TSO7R+A/qP3foNioAV0i3iD5YTCe2Sf7czBw
3whV6ofpbyXFz5nDst9lplpbyBJri7PmwxpfoSoVSXJOn46FSw5UFhr8tjVuc8TrwikZj4ep7SR4
gOGCMAXQWHPT+Xfs3XLTGkDkLnSheLt4OdopXiWPnz3uc5CdGdkvfgozrx6kuDiBaVzwu41KRXoG
IrLBViFeDaIBfwsXrsOsv2WoY6VFhbG5t30F9i2Hy98LfB91w4JdN65aL47gktGj4+tG98F8YNmt
AQQrT1vzLKEWe6PKOHLeP2DnyLJ/wK01o+LHMMsrGFUiPRCG+gVk35+BffeAt0Z9NclPg213hFUm
Rypnem1uc9xnKEGoxOCLN0/88MD6SGR9BJ/wl89uXJyam1rcOLvcP/FD827xD7t3I68sI9sARx2x
J2kiykSTqgQrkeBsZt/IZaFkA+9evcVgKFTjwwou3ld7yVoF6vtCUWjdIenDsuJroMtPgP+QhNBK
TRQbwVRJBU6NCb4gvuBHp2FGdKAlG5sRnwb3ihWAd85tnNEUw1pdZV9gGvzj/7IMdxPsTUuqc5vm
3syMyfntlIdgB9PyEkAdwebxLuTIEn3UdJkv1hD2mGqEGy64Dq8OZUwg1/ZYTy7R3aEWb0WbxVvQ
I+qdza1I2jsr0L8L1hSCD2pJkQcQVW8yhxKnkaUuB4qh8kS8xttdX3Nef0tFtrK8PDmjkBzqb8Yf
rA7WxSsjAw1LZg1cHFktNFYkOusLi/PzNxBf/QQ8zaJ6mGFDdipDCjRn88hWUACjq4nXAzwEeOyG
MS7Ks5IxARYCbqC+WdNIJFzlRSPglrsjtZHKmRGbEnjpUFtNOo8zo//p99cFkiDX8bYZVXRdxCrv
kPWOzOMsrx5ZiJXxyuV3zCViViUiDcSFCCjL4D4Ya6djuXSeXJEnF8hCgVfOUmB/pnce9lSuuGZu
HYewo3EeyB2qHUX1oz8/jJpBLJa/ZH1dvE+SL3THmHxxDg6gE5kVYgKvMiLeGlpVHSzBnuyaG25Y
U8mrMLIU1t+CD399Uc0F+8WbxCuvWVMdqH0FXcFIuKFvjMm+lc4E9MPrl2JT87obiRJ6eMUJcUB8
HrXTdRtl/1JN/UsSRvBlqOeDQ+IjH/4L1QBy3BGD+AnJ4yT9zcfeufbad/DhttGqNsobxTtgzBop
xmIhxlrfh66WQiwap92DVGPXmyG6MPPJd2ACfPjEt9vwW5IfhfpBXogdpdZXi/jf1/yw9aYbZgLW
y1Gb+AKMYYpXo0+L3ycw7CF7CH0q6uYQnTcT1zKH8EdUl0KUOrN1Xgr/OHmnj8YS4Cv1Y8S4SXyX
p06nQMwnzVZwWZ64HdR0gL/EpQG15xuRR2/VWnUapQIhhVKjs7ZiUzzqTTpNoOH0zppwkw8Pdz+u
xDvC5lKL1WcPmXwKnzlk91ktpd0t0YgnlepI+HiQUqG5VlTL8cRRtBzo42IyVB7N6Vw+Jwmlgjg+
vD0vZ1f4MAe+O+dIDmOz2dFW49RjrDI5k95o3IRrT0FMS3BlC+LVIYNZAHC8L9GRSnki0ZZuQMwv
IWaSEHsM8OXNUlwP/rIINCFxEmwlyWaMuRLUhIrY6Bvod7jDZXeyGnsgE4qj/1rOIfTtp62DNsQE
0i2pcucYbWFNTkLb9ERaghUmaxQm0ftvpxKyDRY0fNdUep9KwmAQ7Tjx8unoPbbHPbCeUqKZrOmM
5AZzvC2VTRPdROM1WJd5x6Y6m7MU/+IXWwc758QbAxYlrC+YCd2DKr7GVXqdyvYHhntWh1NdTbFA
iixSPEroBbLOfMZ2AA/B7FI4zNll79aH0pKWslep7DUxf8hhtttxb+9wFTr2sJDKeQwrdW4Xp8R3
d4n96ClGwjeBBgBfEzMTeDIj7zcYeEVMtvcxiLBV5BtlIwL/xYAEQthGJDk4+exn27HZ5JMj+2Fr
WSbRPncJ9oU0Zm0pkBFrqkK+cpdZhZUlFlfcxcfN+IvvParGF8Z4g9dd5ogjJLIzF5SbujsMgQqF
Rm0pcao9eH4wilxVVW0Jn8fbLOT8jnAY1zNyHodBi2CvPZKfAMxLTQqsXCY3vC0HjuXcEV/CpsXD
tTZ3KR4G5rwyaLLYfWneLz6Kls21CC5OxYqv0pgBZr4H/wLk1iB5QXkSqUiJtOuHq93RqNsVjaJj
ohodWxzNRKIud1SKNWqmu45aoonXjdbin5HrEL1QWsPlsAadtIZ8mlpDivcla6+8bcNVBN/Rd957
T/wT0omf0nWD9Waul/QagXQ9jDjxMnyWf8M87GMNkaM0QZwjz5QoEs8j+p76oyrydhcOtoZTahzs
vGjYFtCa9WS3hpFKYzdpYesUZDfRsUJHNNSxXdyGVvJxhabErOFKXKz4YzRo1ft1OrXaonWVeskX
xybsDeDhkfCYbmsAMt2auH18a9CxerozqajvlJ0hs0oytQQT3m8gMTUVIVbOgMQoX9KIU1qkF/sV
H85rClmVSmuoaezNxU4QahUsiVWBUE/8UMKn5jTFhEI3iR+7C0KsaU4qTUTbETC7MesxBx1Etuk3
QbOHxW5zgHxD9WgNWg542UhWNg8ehxT3SiLE2tMkdKQxDUu1Kqz8nwVugraMYmNZxCk4LSUQxRBl
zseNoM2XDWBQlBSqpGjQky2RqCOYTjaGnaCG0kIwJB7FP5Plt4baFKrLwaYALXJjKo4wCa9SqySK
KSlPZMGmoMZTVNy+YWy0SsodgYwCQtGEEXc/plQoH5d0nPmk6kZPjtaikpDRLKRBxzvDjcl00BGN
tMh7zxwBXHQyD9qFsMxpfKcpVbaccNMylEmLL5N9RYwB9hXDeKIp7dSHo/mYKQ7cR/64J4pClZXB
3tayeBwUG7wPzWmsRh8v8vhcnBCMFuKtA86lwbDfmQjFGoXGXjI/4MG8ia+T4iC7rBuz6RnDqdRw
Oo2vu4WqwS45d3IULQa0/FQegYmUEmMRX44mAsqHgVqlOrONqDUWDbf0L28CdfAT5FW7SmxqrUJR
CtJh1zhZ1CJ+Z/7Q8Eo6r57IA8w75s9h8M70I22YjQaWXFuACa7yv3EHtcuoOApPH8FYO/FbgILg
NEnP4NAJPHhg7KocdgitddgdWnppc1qDHdEWmGKvZs9BeHrhu6Cc2E3ff4nSFp52wlw0X87BHOoJ
jpxh4yxnYuXFuy5K+RSYDcRXwsgn56z8RPxsQ7snMmcYaSnuCuCtDTBHiYQ7cSzzirVdeMHyn6/q
JXDReaO1cixF4AEuE/03D4o9tlf8t6cegqFL5qNH6ThcvJ/mlUl+IpvLw/42ILsBcSQPZ/cjH1I5
ODs1OjE8hNuaA+URJOTzAoqUB5rbMKrIaGa9MLuhThGreDDboMXahuyDFTFFXcPsF2aR+RcXy5i9
rEXKz5v5xR0drOWEU8KRLd4PCFDYXLaABFLDylaCUcvFhCxIhw8BbEADNpw9FewQQWVkWqAaCSGJ
/x9FB9AQ9Z9TxIjmOcLM1DqrhQLaFy60mcuj4ZpWbqjabuON+rAzh+bw/EDVReWuoN9bnW1haC0x
zTyHK4Bn9CS2JCaIZKKswIuraVZMO4IreKcrEnE5RxO4iVQUCfyVTBrV4X8m68tnY0KM5lezpJpH
PQQsu1Zq+3/0uc1qRzZe5bWYOHdIx87Rua2+9Ayuu2ZjefvC2pKOToV6kZ5vifuf0g7oUIs0v714
BF2Hj9NMH0eqNSBMlVhK63LqnFyR4kDQSJbXz8oEANhk9RcbbbahLo/NvXJx+wDbq5iXrLboytGK
JVqXgjPYSpy6ecE5/IjFXdKjyO9AvBDNCA0Vy+NL1vW1xy7IJQN9kQ2sEArPrMF60GmeZdXhAJ8j
NdK/MCn0FE6AzREYRiAVMBLMAlakAEZQ4WjMK6itsZO5P5OQTApVQsPcthnxqlhZWawq3tQ7s0V4
pmNwsLl10cKNZR2981uT2WRNDTzNWjCrsyybTKWSaD86v6/rggt6Zl9IaAKSgr4JPAX+WIhqlyyh
CiuHPCTzTxQP0o1s3epe2rV5/UpsaFy3vP88x9atqCSlnZVCGfGR806Ib6RmaVOw94uL32b24jvl
unBayjwBF3d04Du/+OILqvNjxa3oZoh9jUyLtBO5SlyFpHIgTww8LBLCN5AoB1WnxIOzyWUU0AEx
YbxK+JEpg/RRp8dZbow4963BSq3dVFeduU5VFq3r7+kdWtMYCpjAY5llKWf7Ghd0zJn7H6WJtCPk
0et10WpHJGBE6812r6G/qsqa31I16Krs71k0v9e6HNgzGjAZE+bEnJXlwspZixYD3ixeiuz4IMSE
JGI96V+lT75tcoZDLkcouEt+xUsD1eGQg+PlF1pn0Bc/Z220bmgjFRFFkKwmCJdHbY48zXkGVUop
oyvxJk+K2fLW45T40gcfoJnvj9a+cP2u554XP3kBHWhRX9C+4tKvrJg1omtRt1TM7u7rrGzRvP/Q
3vff3/vQvl3PI/T8ruteeOHnrfO/9vLOvrby1LLurlUZwnuH0Ssgq2QvYnJESUOPbIaEcGrZEJOq
+Y6mJqxxO3v6YnYUVU8sLKsFfER8S3A49t0d0ym1WoveVmrBFo1NZ9FplesupHvuZiJoBnqfUVJr
JtU/6fOtV1ZsuaD8E/qMFO96Xvmp6z36POaPXULz/UqGiWZD2ZAZXS0+hvZc8mqH+Nnp65mKU2hM
65EnqayUSUzS6RwP0SLJSnF+pLZF0/WYpGxjSTROZnGHROQXXrqq4/L5TS/NDjo9SPxDlyKkCxic
WoOytuaSMUo/LJH5OiB4zU9+8hP0Pac+492axAq1zsgZEh6wkf+Fb0UJ/Dqtn8JyUEL8Kei8W+sJ
jVLoNTRMY3sz1ZtEbWZydOMJ8+/66tDQV4ee68xkOjP48BD55AZHPp2ORsbqRGP1YeOpFWJzNmSX
q8R70PL77+948MEO8eEOUis2ohrmr6ATvUTnyyVQfgaiFT4D60W0AJLb2ZRZULb9nZJ1vFCiL1Hg
2Ql8vC4/57b2Wu6tzsqM2qCza61IZ55Jay86lGQ+gjmTxC8ikYQkwnYVbb+IqeWaKK2I5mNyyQJ/
J+baUpdqR1ZbmTNsLUm4Q5F2hSI+o6GS1bqwB6tzZd/IZgxGm3c+n0A5X7yjTq9omFHIW71BjvLK
xNwFcNehVal5+Mff8N0p+UcZ6sfIeS7i0lKPFt5Lye3s8WGstSV8bWE8PIxL3bZaMPuP+vm0zz5T
/AK/Kr7Kqjh3zDJX4kum+E2aHwJKc2YVUdkFlJcS1XsKyzOe+spf9HVvQu+ji3sW1fnN6MQDbODE
7xk51nmFeRg1EJ8qN6mu9srEelh3Mc68UTxI1hMAA7xr5gJwVq/l5BxPDfMI/vxkfbv8ss5q/LnY
QEoTINd/Bbl+Efhfy1QDL9FSZcqP7bEJvSUQdbCV7Is/V1krZlZYVctP7RbRlqhYTN6r0Sv3+asy
Pl+myn+hUqszU/E2l9p0Zq1WCfJu1ltLzQibtBaDWacl+h1kfc64rEstDvT5V5eWX7Cl4ih9Ror3
XD99xfMufSZ0URD/G8+FNZFatYVm88br1R6U5dWkE4ali8U1gUDHjdeU4L486WSpgrWjV8UPq7dv
zyG7+OFLL+HOUYNMDRZ0BIM7Ka3CY1rOzKOpXD7WA0CSbkFCTn4ix7dSGbiNds6QmW8YbZvM/FQk
8HOjBmk9DoDbDXIgrQdsXZTP0sIArKkJSeuxjncDnContEdmsqSgP914TS+sHPf1ETQ4KhrWcbkx
WtR4ouhIxKje/rhMj+OSrCgniJIpYDNPlCa5JppAjeC/VTB5qlUFWpZX+RUSWgRFkmiT4ljupIO3
a8jh8BnVCFhIDREaoAMR+HhZlEUny6Jo0wfIaBGcbhS2RhwunTFoJWVRQ7iClkVnZsqC0ZaoD6Fl
sptI7SatK7Kv0rqi6dTKohYBi51aXfSQ1OWECiN+lqYxzzwPS9j11HnuJmrklHmoShmf5wCdxzJ5
HuB4tXDqTM2XV/US1T1hrj/fGBsYiI3P9QSdyz95rrRDckM5nlZz06lT572mFvFxW0HnxE0oEnMV
DOZTYPy0rC7oTdSHKE9KcPZTOBzIwyQqTuvUnArNPNnFmQhr4RR3Zxzm0zJMfvLqxlWgSphQ1Z5E
unBNVVt1dVBvs5qMVvspMCsqwnxNDR+sqrLpjXa70WAl2Xtg5BlUP0vVAJ6THiEKtwoUyd4vrI9k
7rTeWb/PJn7h3wOQdLCYRnx48K+D4iDM/uAH4k65/hSX68Xu6SvGLGz21KrxGtDX01SOT7wl6XCp
rtQFfCjZ6wkVXeIfjVd1BcrHUmWXvVfi4TNdCww8fu1/Ut4du1bi27FrD8C15knXUqYdv/oKmV/l
6w+M8WqGXr8frnfQ3MfEGab3isdmrJnCO/Lc+al8g4n+ZL4Da5RiCVDaxI7sGxFkwcaH9xNqYIIP
c2DiONJWt2/kRllwYRxZOS7+Dcb9BdbN0mwGGUfXu28kMy6Y+PAhaZUg38U/wvNRWCfJjbpkDKZd
374R3zRCgQ+3T14VLh6RewacTCWZUU6wqZMIPO88paKjoCI9qk2bQpV1sThn1Bh9nopIfSLc3vF4
R4evMsQZSlmESA9BGn0XtSnMgfr+7T31y2floy6DGqPBwb8CB4tI43LVhJujkWRFb1nebWHG9/4+
0DMGYhUnVY2n6pkJdeRHpiqZqZVltOqkrmGlGjPsC6kxC6epMrOwB19WaX6RbPiXV5vR7VQ4zg4u
EZMvg6shDHQ2cKlgjcE9QOEmTrdeynJfBnlIYsizgP3yGLuOw3+Cws+eDv6UPf4yXGxTN/4s8No3
zggKGa/9FK9Kpu50mE0rWl+G3WOTBe8scKueomxInFkNsdNB4rESd1UKUNXCgT2p+x+o2bMnteeB
anFPzZ4HUnvgeU8Npbe9+CH6KasErWMkcbwHSaYrz0opGkSyFCRtLadxSEldUO/eZ8/mIk8/aE/n
IuLBfFhaWHx+VSSVDcof5lXGkAK1L9h984zviC/27r65TuzatPCHcWlNMzq5DQu+J39o6JblmtTx
geddpONzuko+tSnTVPPbJW06bUUf/4Nkbs5mfkTszjTzI4ekhk8DYNwm0fkPwPyB0+Av2aZpIDw1
pr2nB/E7WUJYGcZ+gBGhfejTQZnefk0DdXiqxp8efs8kbsNSbwHQkvbkTuguIDppvMNgLyXbyS4D
vEAi1YSeGhWxkHIjjWCnlkQlgAV5ylCo3uiJpoIRm2H1lhGspr00H9+FS0z+sub4JWsVP4KraS0W
fZ3tYNppD/RYcyuIJimkJ1GW1EwzWfpXqVBnHVK4pLT5EC1ENDcODXbNsvosehXLamzhTCRkMDpM
OjUEkUq9PerKhJo0Zh0tyyXRsZuHVywY2sFhpctV7W60+rMtswTeMF9p1Plt5R4fixUlXn82EDKi
+Ww2v0yp09i1LrVeN3qVVONg5f6Dj2j/Qf7sOhCIeTnLLoT/C4JwDp0IclfE34sXbPVZ4lUGjHBO
eMl8MobXJxSvurPEi0rZWWJ2KxW8c8Htk3FZlHB7i+LWfpa4TTFdZ4lnzxQLdi44Hzzp0oAtk/A+
SPEuMLPPEvNptcpZYv/+JEVzLrhPzj4rTuHVAtN11vhPF6KdLZucGrudC/6zpoZ2Eu9gO0ag/9Kk
oo6kBAnH20jJJidk06RYInc/k/4SUiTjw+osqaiQngJlmFSSwED/sLb+F28hpdZj87vRIsUNwz7f
vNYGrSsdqeUwy1ekKmtyi73h2bvFB2rrGlCFY+NGR5uiIVDhyPot3+/rG+wI1+UDIZwsT/iWuVta
jhiGVgwvkevacbkvyHOaziAialO7g1ohaJymQ2j0DRo0snJ/zke0Pyd65g4dkhI5bZdOkQF1d/pW
HfSa7EufAzyi004Lrwq02JnAjeVUJHifUHjCl8Cjuuq0EO+i2ukMMD+TlJFChnmQwiyXcl5ngDqt
LJ8Wiz9Nkt4z4LNquhiYtIveRXPacscfsWjJ4eEysn3HxswQJl4T848TxxFnAsZdT+h+bMws4OK7
MO4Q0FeKgck4SkUYWSPR69gENQ0xMOko/AAfHI+BCQbTUgBmCE5e67FpVNBYPwz4HXbSdZ6XWssx
8TEI0VkhHxPyjjGfmR3LM4LsxoQdCp3b7vBqMWJL9JzR4dGygUBPfXhOPDU72L1WaQ01liWklplg
Q9xns5cfL8tmXZ7G8jKPr8brN/gaq1EyFVmS9Ka6Y6nY43+saO2pDsE+FIRIfUdVSNs+++SZm0Vg
nzz0zNLpOoHyU0zS1N6gf5tifU7fLfSrCbaGlfuGPqJ9QzPOrnOIcMe5dA/VAxv9vR1E+IIJOuIc
8STceS54bgM2/vvxlONzCc9PKJ4tZ4knlY5zwTRExejvxnX3hHhewvctim/PWeI7hSHPBffVU1j1
717H1gnxv7SOg3QdHUz/WXLytFrmXFZTPUkd/d1rUU5Twy9nlLTWykon5vPZkF2g3djZdDnas78P
/v22o+O5EVEzQsdbi0fQeqwFLcqTilxebkjNCjwxm+OeClV6fNhKHBZy7pBL32iIai26UrIo/KhL
EHxaX2tNazwYL/c82LwZhhuduhKWxZdWlJjM4MgYPWyn+JcyV6H5suru/spE2tnZsu0Y2sU5TGFX
SmfrkfUb6RcDmfVLNYDpOsZIxmC6rrEqyfScoXMMq8fzBmcBh2QOpu1OYyTbdUZAY/kDCc4nACdy
2vVQWZ4O0j1jpu9MoHLjsYsE6yDASpDc82mgTcu/00HvnGo2z4AHemRKPoH2uQGNS+TzdlKnG1Gx
491uj0iklDre8F3UF5D7P3/4397/idcVp/Z/sl+XamgU94OAu1Wue0nYTy/+4+vxT6WZvLb0ZGGV
+47RsbGeOvBUiGcinbX4TD6zpafZeHPeriZlDLM62zSydOl+8dNO9HW0Xvx141Cj+OEgqqgegmv+
BFceZAtE7tMwMi9fl2xrG25rQ1+v786hTeJvG7rrxCq5fvQ5HsAnmBjpUUdjpZIsT88xZclhwYKK
RlohO7Kp/CrJHYKIi3Y7q9C37733CfELHOqP1EXcOhUoN53ZE6729nswUomzEELKEoPFYwoC+TGr
tfJcSsD3/WVQLA42dgQruuuXlEcVpf5we3lLWbXH2t4wKL7HJr3ZWE0oYEqc19DMadV1FS01la6v
jdkdnIDYpYSpZOopxtTl4XjOQbsCSWsSxDNqqsVpVy7lFNYepWEVaeDlbGjhlga7W634139FCpPR
V48X4q6uzkiwNwHeseIBvlGHdfV8vAE+iPNnNKFCM0Lpkq9748kh1SJ/YFnvaranh41m5zbFvyiL
RBORdG9TjP3ud7Hi8f0qSbfQM1TsASlS+LJTVFWIZHVPf5Zq9s5MZ2/VGU5UeW4QBgYEApf0/YKT
LEcoZ+r8lYCetv+3jsI8QxdwgwyTlXOG+2nvWfCUrOH0kjKeRwxPyVOezCmiw1N0CT3HRGva+pOd
sFJGfPw806MSqaRTTV+VUSR0IT20QJdprh3vpb1FWrLUUbt77FpUPFBchw6xbaRugsgtYQxqtQEl
UR5YK5/L0/vGECbjyC6rVWrkv7L06jzsQomytESn8l1Y7zRa4ymr1ZptKe2wmxcOhzwmC5dzWHTo
RJf4Kzauj1oCdmdpsny+wh0MrUI1XdtG1qnnq2MB2vttwo2oFHAn/TTUTtwsZZXHQ6FJY+iqbpYI
0Ti2jDP2d6HiYXwJEvAo0RtsekyQwjFDjXnRoKWGXdDRMoBHe3raW6VzYMx8vJR5FdOahFQkl7b2
FidPdjIAoZXTFZL3rQHPYt4FG6ChOeHp8zU3TyqiT5ddIXArii3MKOyhHaxCmh47z6cKCpq6iOUz
Xa0ac8SnsegMSj1OJlLdWG/Mmt1OjHEJq0N9tnRVQprHiC9EGvBfaQ/3ZL/0l1PLSiczbbh4BNei
8Hg8KzULCrNbV6X+DA/8URIsGDzke//A0+/wp6QWnZdv00B1AG1dzRZQdqx9koOP1yzdvqJ1RUUu
dv5zkRrU1Fjfmgo/O4+9/sV7/mnFXYtGnqlj5zWUfW/L5n33XL7+eaFh3n9D7xhE3ugHuJKeP+fN
No6PZc28Cqv5nCUfVgu5dAg9ldXMN2xUeO0LwBmu4XSRhSiNDonfX1oduhB1rxf/PLAEWS4snek/
0z1dGOZd9CmKk+/N8hk/FO+ScLiKeZddI/1mhd+uwn8Y9Uo/IsaDfsM8BfaK3h/Hyq3vPy+DfuNE
GiM5v4jeof2i5DeOFdb2r0jjE05ycxlytrGTee7kfWfWnrzvDGbs6DcoRa9TS7Oy8PgrzPzG+Ozi
/6EwMIGBWsfH0pHSbG+MQ0NWCpP0EneiVgpTLUGdOJZCR7axe9/4ipeOn5+fcJ7i2uHzzx++4AJ8
+Ni80V/g6nnMxLHWsbEnx2fla+hV5LoP5/1onvgaqocXRjq38SK6FuconDGhBebXbejtu+iivt4N
aFvvRRf19lx0EWC9rvg5u4PZSO+34Zt4xw3FNO/+SWqeKpv4opE7BiOTXoEeZcUjrGrCPaguZe5j
HiTdgOQ2U5jecgrFTn8fqlNvUaU4w+2rFKRj7kdnee+pT87yXlZHz3Lcr0krHLpTuidVSLpDlecc
b2V1Fve+QpFzvQI/SxsByXnZCPMz2g8pdz67J3Y7M/L9aSLMr+QxE3ol5S5JybasgidOvs8BEPzf
aSvi4VGDdJ78KNqGv6D3NSIeCbmvGrl9Fbw4aNqZePD5NGlUhRdLOoW2+ZvOL33S+iBCN1i3lK5p
DHofGtbOsEYRqrWW2fd34XcX+Z/t0rk92q4X/UucV32zS+N167qQidp6W/E42srmGY5o3yg5JtEE
cVwubx6vI4Iby9ppyRDNi6RW3JTkUqaehurU7Wh2avuKisw90W2vGpOZjAP5dm5f2vfdV2rvRx//
4O6dUv6cQT34Tdq/xZE+UBA8lp4vNJMAQT7MnsVv5vHW4BacX7QSrxH3bWjaCN7NErRW3E0fj4qH
UKKRfGj8H7ATmIkUj7I76X16yN2GQmEfokdRx+7OYqKUEaRii1oFv6ZDKXbn6Gxl6ca7+2/JNtV/
b83Tx48//cyJBzSb77jrIo0S2xVoo+KXxtItbY3tc3+Pmt9/f6/5baNm42aN+efSWehIcRR9k+0G
20Q6W4WT2kY+1pKWzL+VoDG2vAXu+u6F2zaunjVvTXssp0Ooqy7XjsrrVaXlwbK8gH/Wm3vlX/7j
j9dfeMV9cXeJe9ODo4se2hKq3j7Q2S/38jPobXwUeNVIzirDhtijIbYSCbwBqd1PrvmW+AAqHVSG
FSwbVDbiF0Y7Cn1ohfc6j/sKD9kHV/EebMT/Sc+e8Gb5LxvCxtmLn17ciT7HN49q8WfksYTum6N4
D7ofxoNXqQxlrWyWNJxZWbBo94vbX3kBgq0nX0bh89vQGnReR79CfFl8lJV6On6LDiCe2iO4phzt
+S3peT+jHJ1tb7avuBa9ze6k5+NYmsOxOuwceKro7SdmX9pgvGauCamU17E7j3+M3uca0uJTwyxq
5tlygJpgHsRXoNcYJxMnGXApXIkJlEnotnEk2+xHSggEUZ7GgHY/ipKMkNqPpOM/+Ip5dWWzk4k5
1bX9/YX+vmpXoqq+W6xHzpTLbbNEeLtQjmrQedjkC5gCbEU6HCmvQHncOlBRW5MZmNEyfyRv9qK+
vQF3wOPgDbmyWOY5rdsUYXPxunAyQ/VWsQ9l2TtIvIEkv9tus4Boq+TbgOUBEXJ8iqTGURaUssvE
aUKBWSFOb9dyBrvW4Y40uNnrO9Se6B0D4t5lu2cWDF2lTuEbw2jNwiXrwvL9rYLMI+hu9CLjZRrJ
zhgQPXOmIoeuSFjJkcbjXADR24+NH0YjN7+SfkGX8Ma6zmyF2xkwR8yNUZ3Dprdhlisx6dT2gBl+
jEQz1ZzZa9aQnzU2g6XEjJR2jVGvsgfQi56yHB8Mh7zJtEKj0iNsVJSwocu9ZVk+aHfbydeKUqUG
sXoVfE/v78YsQrdgBfENkJockSIPIQ9uAX2gmaGNV6a+95pQHtxwZc0zr8XQ33obttUPm3rrtzUs
J/kA8IZuxQNS5rACZaN2pV3JkWjhJpLFIFpLId6Dzr/0zcKbsx7F33q8SaJTcuJ1VrgmG81GSZRR
BRfthVDjEFop3ovW4AG4sBMuFEubpNzYb9CTrAnk1SpxK0gsK52ltBINkUdP7um++4Hu9iUaFatV
Di8tVSqVpegr4hp0L4jYSsSEolnzcfG4P5LgSN8TzPIAPcNPMmBnOMcfPfUc+tRj/TuGy8dPmE9z
wr/r1NPq1I8E2LcBbJZqc5gfnRY6um1Y/P1kkNKRc/H56e8n8L95bf9jZ73+P549+bJzMf+Lzjv9
PwVJ1QJ42qWTzW7TQBDH/05cqlKpKqVCAiG0B1T1EDaOUT/SIKGUtsABUTVVD9zcepuY+iOy1w19
AI6cERfEgQu8BC8AJ3gAblx5BP7eLFCkIvFhS7u/3ZnZmd2ZAXDV2YOD8fcQryw7mHeuWK5h0rlt
uY5rzlPLLi467y1P4FbtkeVzuFh7Z3kSS/XvtlOYrj+zPI3L9Q+WZ3DdbVmexXk3tnwBs+4Ly3OY
dz/Ru+NOcfXSRFKxg0V8tVzDjNO0XMct565lFwvOa8sTeOJ8tnwOC7XnlifxuPbR8hQu1UvL0/Dr
LyzP4F79i+VZxrNn+QKEO7I8h0X3Ld5AoIU2VrGChuU2x5/sn+Kbhn14/H1SFyEy7EORezhBAU1O
OAvcR4oDSnMMzRgYWQhp7GL+grsR+hhQUpiV4qw4H1tNvBGt9upKg2O7ZUbfjDcbwvc8X3TDbF+J
3kmhVVKI++lBlg+zPNAqlKIbxyKP+gNdiFwVKj/mJrCFkt5KE08Vs6YfgTuMMCUpjoXxja1Sl3kg
ejoUd7I0VGmhuLtDYZ/mMc1zLlW/jAOCz2CrJ1lCh5fbwDo2SaedjV3dOMuVLz1/qdPdWN/sjL3S
6Y1TTv/wmDNt98x7FnznSl/8Eug2TxM2l9LMHncH1NQmcynzUGW+kklaVNKEMRzxzErnkLsxT963
9pK6y6ySFTL2VF5EWSrGl9vuCeZLep7XGWT6IEuPRUt6csnrJMGRyvShjKN9ymVrub3i/d+Vf01x
ZEorsOXVN2ttHkWZ1GujF5qyrXJ6xL2MVxPMYcBTKk2BXRb30JRnw5SNZJbljyKJChGwyPoR6zBX
odB5EKokyI9EdijWg1LlYvdkqIqG6MkuzbbNyVUD7JjbpMYLtoMyFjsqTRUXVVNo+lxDk//I/NJE
Om44aVKUUKZtbBhoPVxrNkejkQyqxpAHWdLUdPwvpzUZX/VeAWdp7BPS7300Y9UPYjnQSXx2l53q
KOCBef2IKsnZ7fdAhVGZiN+m9W879xtV3is6AHjabdF5lA10GMbxz29mzGbMGKTFVtFC4t4rk1uS
MYgkiSgtmnInt5irO3eSFkQboVW0KGsdnMraviHt62nfaSHtaflXM9Oc5h/POe/7fd/zPOe8f7yy
NGjfZjH7Ucirb7Jky9FMrjz5ChRqrkgLxUq0VKqV1to4QFsHOsjBDtFOex101MmhDnO4zro4wpGO
crSuujlGd8fqoaeIaN3tXo7TW5nj9RF3ghP1dZJ+TtZfuQEqDDTIYKcYYqhTDXOa4U43whlGOtMo
o51ljLHOdo5xznWe811gvAtVhiwrXO8Gz7nbD260wC2WWG1lyDbXZ2a7015/mm+Rm23zlT88YI2/
/eUfyz3iNa941EUudpsJ3pDwqte9401vedseVd73rvc85hK/u91HPvChiX7yizkulXSZySaptlTK
5aZIq1Er4wpT/ehKV5nmate6xpOWmWG6ma7zs1897WPf+NY6633ne8/YZbeHfGJnyPG5L3xph099
HZqFXPfV/WyDjR73hJdsstl2s2x1k7Ve9rwXPBvyQ4F5HgyFFofm7nWP30JRaGGVO9zvYbe6y0JP
edGWUBxKQstQGlqF1qFNXm11MhIpjzRyYANjFfEG9ipv5ICKesYi0UjOoNp0qqCyKpksi8b6xAsS
NZnk5MpMYkJDIBYp+4/R3o2MZ1eNT9bVpMLKHjW1UxLpZCpdmPp/LEpVJ5qWzNQmpzgzMZ1o8v4F
BIitPwAAAAAAAf//AAJ42h2L2w2AMAwDz6Hi8dO5WKoVDEsZgzrkYukSyQiozklOcLCwIXaTV7N3
LvvNYx8mePmQckOh1f/yt5n7RAc5eNptULFKA0EQfbt3e4QQQryYKBYSLEREgkVIIRYWQVACiljY
LooiHFGS2Op9gZ/iB2mtcLXXx7dzgxKQY+fNzbx5u/NgANRxhBx2dDy+RDPz8wm2ELOOxQKOYGAR
sfJfzXmfzdG7nfpr7GT3dx79h+nNBIPZ0+MMB2RaYVcTIUYSY4kOCZroYhPb6GOovH3lnCrrqkJT
q/qmp7hLxZQKnyY2ziTGmoidBCtYRYeqI1zwv8VTo+I7PvDNvKq8sdLAOV7lBevceA8DHOKLd6Vo
8wtZ8ZuVkgWdVLFQDJ3lLZ6FtSZYKJbEF6l3BAvFkhhRp8U35DqX61yuc8GzNnfqMtuQbSxvbJjg
6JkJDo9lrxNmdVj1wcr+lspuyR/3584PXywxc3janZRNSFRRGIbfufOn48yoM2plP6s2rlpYiINL
kQRXNUmWLVq4iMJFtYgWCf0vc9umELMSNQMZBouxEMQhCHcJzmwiokXMQoJLtDg998xIKGjOzMN3
55w75/2+9zt3zpVPUkQnNSint28grfi1yzdHdUQB7ssYOXz5dsycqyPXRxW/ceX2iFrsHdkVt7T1
8RTeWofcH5hN2d9DalNad/RET/VcjZowPzRJvCCmzC+95HvaFDRDzDKeU1BvzB/Nk2eBeZbImZ9a
ZW0EtYvaRe2idlG7qF3ULmpXGbOJwqXyFKMZO9tE/5tsWfOF0TecFUyJa9FeQ+pSt1LqUUFFOYFp
z7U/5Z/H62H63zAlGx55k1ctn0RNKq/2uBn/76qVSnxm/aKZrLHWVzNmxvbZS+JfTyZjMvwfWszG
HrlLhFuJUpW+1sphd2PNvLejdUYeLrFuA3bNkKv+qVFrsryT3nOvdFDauu7eA7rvVdcq2T3cWcvu
15619tXXdj3/4KzJVp5b3s7dchacl6lir7atdZRUBzg6AX51QkCnwDthXQpzyrpVz0lLqYHT1qOY
+sGncxDUENTpAkQ0DFE9g5iWIKqPENUy+JWHGGe1qDjVOjinjWiaIK5maNBROKBjcFDHod468FkH
fusgaB2E1QuN6oMmnYZmDUBCZyCps3CIt1da7dZlC2/MQbXqPLRZx451HNBFiFrfIV2CmO7qMXW9
HsKa0CuqvIYmTWuWKnN6S5UFZamyCEm9U46cXrch221IK5DUKrTansP6BOXO6+imnc462OtO9njr
HdaPyyEcDVP/nu7rgR7qER6WyLhMjuJf+ahGGgB42mNgZGBg4ABiFgY+BqbMlNT8ovzcPAYmFzef
EAa+nMSSPAYVBjYGEGBkYAKq5GFg/B/GANKFVRQApx0JcAAAeNpjYGBgZACCk535hiD60NTjN2E0
AEs3B+IAAA==) format('woff'), url('../fonts/FuturaStd-Condensed.ttf')  format('truetype'), url('../fonts/FuturaStd-Condensed.svg#FuturaStd-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'FuturaStd-Medium';
  src: url('../fonts/FuturaStd-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Medium';
  src:  url('../fonts/FuturaStd-Medium.otf')  format('opentype'),
	     url(d../fonts/ata:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADu0ABAAAAAAaRQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA7WAAAAD4A
AABQiyWUMUZGVE0AADuYAAAAGgAAABxOtP8cR0RFRgAAN1QAAABAAAAAUAZIBOxHUE9TAAA4uAAA
Ap4AAAaE0XHDqEdTVUIAADeUAAABJAAAAf7ybtNsT1MvMgAAAeQAAABVAAAAYFsMcfZjbWFwAAAE
uAAAAggAAAKKa7/Shmdhc3AAADdMAAAACAAAAAj//wADZ2x5ZgAACNAAACmJAABMxLX2BhFoZWFk
AAABbAAAADQAAAA2BEUVPGhoZWEAAAGgAAAAIQAAACQHugQraG10eAAAAjwAAAJ5AAAEGBr3JlZs
b2NhAAAGwAAAAhAAAAIQeRWMfG1heHAAAAHEAAAAHwAAACABUABLbmFtZQAAMlwAAALLAAAFlFTF
uUVwb3N0AAA1KAAAAiIAAALYHhfjxXjaY2BkYGBgYksrPRjwKp7f5isDN/MLoAjDhe2pvTD6f+y/
LyyRzI+BXA4GJpAoAKKRDwJ42mNgZGBgtvwfyHCCpfx/7P9YlkgGoAgyYGQFAJSNBe0AAAB42mNg
ZGBgZGfwYGBnAAEmIGYEQgYGBzCfAQAKuwCdAHjaY2BmEmX8wsDKwMHUxRTBwMDgDaEZ4xiMGKUY
GJi4WZmYmFiYmJmBciAMB44uTq4MDgwKv5mYLf8HMpxgfszIowDUCJJjvML0CUgpMLAAAPOLC8UA
AAB42m2TzWtTURDFz8wL1tpqLbHa1tAmGk2s9QNpElrTpgmpDfoU0RI1IC5UFHGvIELqX+DGhQtX
6s6Fi4J0IW4UXHUl4gfoRiEV1NoGtKK5nntNIFQDPyZv3tyPd86MVOF+cphESBYX5BFKmkMP2adP
0akzSEgXShLFsOMhMnwXYX1SfD5HcEJjCDPXS66RXSRBWkgfiZM99dyQrSe77R4N5BmGvDCi+sT8
0E0Y11tcd5uxFQV5g0mvHV16F+OoYEIumc96kvlpFLzjWOt1IuOlEZSvfGbUfhS0B2F5DtU72K9l
sxzwTFXHAB01PzWOVklhlHfuZ0y786mDXISvg/yGQaRk1sVeqZAgYrqTerRhDDVkLTKHPN4hp4b7
M68hbLDr3JozyEsZW7HAPYAReWyWdM4syLxZlA9mifdUOYK9OoJFF/9q6bTn/3OkjWzRnPlla6x+
8hIT1GcV69t5Xp9bQ+1drooDcpNe2VwJHSTovoVnM7fD6X0QReazkqcGbdTrLOINqP2A0/0/eB9Z
b72gD82gYr7QiwHGF2SOXqHhw0rsvRhbnBfN0AvrmeYRquv+D16Mes7WfWgCNbNMHxKM78lrp3/D
h5XYHgthtdOjCeuF85qRex2TafMdBhK4wntPc53toTL7utEz9I17raMXh+QVfKf7J0xS66ukJFOY
khrG+X67ztMPe04Ra9yMsL+8Cm5wjtIkRJKcszTpJta7TJ3zrLscKGKjHHX4uG9OM79ZfqPPe8C+
4N7eDLbpKOfsHr/tLfXLodt+p61183gKUS/Bub2O9epz9nzOno8kSWkJw7xbTL6xr+vR9pXtDdsj
6EDwD96Bz8EAAAB42mNgYGBmgGAZBkYgycDYAuQxgvksjBlAOozBgYGVQYyhjuE/oyGjE2MwYyJj
BWMd4ySm40wnme4yr2Tew3xAQUBBREFKQU5BSUFNwUDBSsFFYY2isKKSopqinhKTEpsSv5KQkqiS
lJKckraSh1KCUqrqqd9M//8DzVdgWAA015ExiDEBaG4t0NxjQHNvwM0VVpBQkFFQAJtricVcQaC5
knBzU4DmMv7////x/0P/J/5v+l/8P/1/4H/f/1b/2P+x/f3xV/ev9F+JBycfHH9w5MHhB4ce7H+w
7cG6B0sf2N2/cf/U/eP3D9x7e+/VvUf3Ht67f+/OvZv3zt7beG/Wvem3jVn/QsKHFoCRjQFuOCMT
kGBCVwCMIhZWNnYOTi5uHl4+fgFBIWERUTFxCUkpaRlZOXkFRSVlFVU1dQ1NLW0dXT19A0MjYxNT
M3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP/+AwKDgkNCw8IjIqOiY2Lj4hESGtvbO7skz5i1etGTZ
0uUrV69as3b9ug0bN2/dsm3H9j279+57VJSSmvmkYmFB9puyrF8ds74X//6TXv7+08cbP3Jqrq3Y
1Zic9+3Mzw+5tU+TmlqnHz126/b9B3fu7vx78OTLV89f/Pv/uPLew2ctPc29Xf0TJvZNncYwZc7c
2YfOXim8cPFS1dXL5wCHENLmAAAAJgAmACYAJgBAAFQAhADMAQ4BbgF8AZQBrAHMAeAB7gH6Ag4C
HgJUAmQCiAK8AtgDBgM0A0YDhAOyA9QD8AQEBBgEKgR6BNQE7gUmBUgFbAWEBZoFxgXeBewGDAYo
BjgGVAZoBowGtAbmBxQHTAdeB3gHjAemB8IH2AfsB/4IDAgeCDIIQAhOCHoIqAjKCPgJJglKCYYJ
rAnICeQJ/AoKCkYKbAqMCroK6AsIC0ILWAt0C4YLngu2C8oL3gwSDCAMVgyIDIgMogzWDSINXA2E
DZYN+g4aDlwOhg6iDrIOvg8CDxAPNA9OD3IPpA+yD9AP7hACEBAQIBBCEFwQiBC+EQwRXBF+EaAR
xBH8Ei4SYhKKErQS1BLyExQTRBNYE2wThBOoE9QUBhQyFF4UjBTOFQoVJBVgFYIVpBXIFfoWGBZA
FnoWrhbiFxoXZBeqF/IYSBhyGKgY3hkWGV4ZchmIGaAZxhoIGkwadBqcGsYbBBs+G2YboBvEG+gc
DhxEHGAcjhy8HMoc5hz+HTYdgh3EHggeNh5UHnIerh7AHtIe4B74HwwfLh9IH2wfgh+0H9If+iAG
IBQgIiAwID4gTCBkIHwgkiCoIMYg2iEKIWQhdiGGIZYh1iIQIjgiaiKkIt4i/iMWIzQjQCNQI2Qj
hCPeJBIkaCSKJKYkwiTsJSQlTiWGJbAl2iX8JgwmMCZieNrdfAl4U2XW8D3vbZPubZqtbbolaZOu
aZs0SZu26V5aWkppS2hDCaWUQtlENmUREBRxHVDcGeYTVMZtdBAZHddRPxX1cxwFHUcHHRSXcWMQ
9ZOht/9533uTJm0F/+d7/v95/h+amzb3fc973vOe/ZwbLpzDf3CGPMXxnIyL5GK4eI4rUegVvFKv
1CpAHw0KJZw5e7/w4Cv3CzdA9/2v3E+eGmmAa7lR4egoCCPHuFEoEAg3yhFu4egp7n1yGuHEcpzD
qlGrZAaTvdSpsCmuLjYYig2x3kGjNslgSNIuIw0jT3E4xwv3wxycw3NyjlPaeCN9eQcS3b/CFzkt
PA7NwuM4LhkH55I3OB2XQcfJbU58qY3sZXSyl91GX1q89d60rI3G6ca+JboFa0xt2RtyWrMHV+mG
L6nRbdCRN55//vmOOzrewn/41nHHHUgCnrOO7iIJfB8Xzpm4AqSJwg32Ut5uU2u0cpNZnQ64Gbna
aLeA2ZkOWoXZgvcdSnsc3oBploo7rSvLp6dVe4dXdVhnXRHnja2ryWqaOtyaY4c5wr+i2os74AOv
N3q40Kn80ryku/P66LlzYf0sZV19BBQkZnXUt64WPnhb5jJPoUcSzilGT5FDPGG01OKezRyXaJCp
VRqrAymqBTMX+IuzaiihA++nfI2NvsbvCoVmC7zIfhdg56LhG4bhAfZGXqqzFNbVFVo2pYxEJAOR
/iLlC24YHLxBuJ+9UZrYEYcXEQcFl8XVIk3kcXJc0mZ1g5N3usPtpSYjRQLJAWaZkR61oxro1UbP
Po7ItU6tXAsZkWCK0scmRUZ6HPqGvPSbYsIyYrTRkSVmY0lCbAI4Ogc39V9VX1vUNdDWPKS1mNJ/
3VPZdxWslkGKPCU2RaWLdcw0ZKVDXQSvjdYqUmLN+YXGxGylauSHobWb+mt7igyz2tt6ZzanO0sy
Nc8MuZceoGxNeYt7ivEW5+cqylHsXvloNfcln4v05ZRaWQIeMklIvGuqxzO1tLSUz3UeGvnqkHMh
RIMMYsaPd2oSE4jc7Egop4NLp3rIaeeQcEY4K3y/0HmIqOj4angKLsa1FXRtNaWD3IzsIzc7zU7t
440zjDNnGmc0zjLM7M7oJafnFldYrS5r/7yS8hJreQnO1yO/6wnHRbP5yOU4Gbn7B8+xY/hDOHr1
4DjH6DTuNHcJ3aNTy5vvbr/SeUmG8L2W4Qw6UMGQuH+1sfz992GoFT+fhXL6GjdI9zImpeuYhPrl
k9Eoc3QrieAH6Xx6xPBcszB3Cj+Yec6dyVHZTUH+yEH+UHJGjgszWHh7qZtY0wk9e2KII6p0YnWT
UgtA74rZFTmKNNeSa5a40hQ5FfP7p2QrFNlTxLcEe+fihSXVl29ob99weXXJwsWd5Pr6ofk9A0N1
dUMDPfOHEJcNiEMP0hM1ltLotCmMwrbS+7xkj2ckjuFaiAipEBc10kGv1oND5E650Q2MG+WfQLGQ
DFPreyvKu8N80ZsXDFxX5vHAzZ32ipkzyofWXz7P04hwKM/HIBwDArVbx4AwGJRWyOdmWzoCpSuA
cvfUcltdxJzYVX+8rH/J1Yv6tofNlneVuTt7YVH7uvLmipI58y7qW+2w7Vi4YYXXUedxT+lgtENt
R/L5RC4CdS6XLZ6vHniFkYdjHo9XuA7e8JKjz3UuX07uHvkdOIUjTFVz6YifDumQin8Y5U6rHyWn
HyWGr1JPEr4usi/ecdfaKZszmxTzbW2Ll7TkTEtKXA0WsudOfs/StbdMqaorql3W1rI4KwO2UZxy
EHYq7j0BtSyeOK8VBVkUbaeSgWdaBzY0HCFZptmbb1w4/7bO39b0D2wcmMsTi3CKJP5qzsJdvxro
XS7s6XM3+Pqran0M7yKE3S6eH+hxp2Z4TFhPMoS8FjzDc0KhX9/EMp2XRvXdmIYLL3U4qV5hh8BU
scE0dhdmr+7xrvAKW93l8y87fNn8cvfVL10NGUPTZvhmQH9XBR5zWUVF9YCq7OLZl1wy++Iy1UD1
0MaNpKnNUdjVVehg51Eq8XICpazWrPQrNJF5zH7S4pLHcO+phX3S3pu8c6oaBuYnFEE8ibuuT9x7
jq+map6vpnYOx2AzeYMTuC9lsMQljpM9Q4gEwl1joogwLCjnZxEGT20rlfSx2XtQ5tezuUzyyaZg
GdZzcUQPp9G6c6COBXW2neiFLbBF4OC0b/du35+bRPh6bjOOu1yywyhB9D8qIIGjL7jc4/GMh6e0
h6vD7dlsEGwBCuvPvt0iLeFOpGURV45TbBqJlE53hJ+IWqPZJJFWJpcxo+KQBTYEhbP5wdp6X11l
eHpMSpQqIiqsNMdok/lI2PKWtkWOjDktOemZOf1sz9BbM29OfU2VhkSHRctjYxISo3OLbcYojX7K
/KHWdosuTWNLzys8FiAK4bLwrEcQv2jOjfg5pHNFFKrBxss0tqDDtlmd2jjws4KWIhwHZtMYd8CP
8jK7a6qz0F2jj5tijQRNVvPtazY99MS2y8tba1b37v/H3++6tn+F29BpKohyT61fsNLbDqsr630V
lobpL7iF0eSqS5s33vyHrVcdLK40GD6678CJWfOu3DajsICQSveytrm/Yucz+t94eQX1BfXSuGy9
3BgJxmhCYoV7PQtgESxacNn27U8/zSee+waUUCL8mcpTDe7uB5S5CC4RLTinVEs74xU21GwWwn6h
6ho9GyZVxr1J7d1d01KaDxor3cbb+lx9iEd2ree25WTv2dKpLTbhSeHfV5rsKdHCAXI6MX9mVX6X
gsRc1LB42K+blok6GNRjBFQHiEWWda2+7KEHLls5y7t032f/PLCE/HnZ1Mc2X/ZY+0X2E/sPfIpn
gziTbQxnhGJTSAqIIuomDOeaPX849c1TFfq2jQvKy4c2tJHTfzr0xItkz8gf0+tWT+9YXZvO+LQZ
L39HONEUisTO+N4MNwtHwCK8BU5y2vO2R/jYI+pVdLvgEPNdUT+xwUaFHg4J/wKZcNYHy8ieox7h
BhyAY9W4zx9xnzo2ViXLlBSFVm6BAC85jfA65L8ivPTRyX29+511uVsaNj380KXeO/gXYGP6r//y
xd79n09rrC6rf3Tzuie3eylcuvf5Is5KPTrNiAG+bHthoc8n3O7zwfNQPBIHi4VbRDwaEfP9kn+D
A/f7yOmROHqLg9GvUQaL8Hcltf0KNMgGs5O6bmGl9r/44nNnbnIW6fM0Rk2CPAx9In3VnN5ifUdy
giontVSTLNKPLJRwARsyG8gpLvdCzQbhIejdLHxiQoQegCnCQ8I8mJsl/KeIE6X7tZKdVtiQjPee
FJ5GvAY94v3Y0VP8FORjhBvOG9HdjwQlvsH9J0jPvDuAB/6OeT0kgRAhjk8c+R3pRIY+Tf2p0X+Q
t3kN1U42BSjoq5o4fCOv8pqRh0nhuW/JjJE3kH+UCD+X2RDceWKmRjoejnF+Jp7NOWj44lPh8KeQ
8MPBB4RzD/Dks30HTpw4sE8o/P2WzQcPbt7C9CHdxyeIchR634y6EznxXt/SA1fftMaRnlvtNmTV
uXOhUniRnF62bMVSGBBOR+lc+XllyZGifvXjFU/jl3CjX4EwBOVmLY02GHpUYMx8zsraeWvv+fQL
xNVd9odL8iwU04MbOhseSqivR1w/+2xfxy77E2uz15QzlH+ff5+IM0ljPiflTEpWhjf650y6/agb
oeiblcfNvpX59tZUi33wb2wD/0UDLagW/kRO8wkJugFn5yXQJnxLd3EV8wVPwVnEP4vGAaJsZ4Co
NKj34deaRcDiItSLJ1rzphe3Dzu8864dmr01Zi7MdFdOb6wqnTbrCu9WsrNwSmVRQ47auKhn6MpL
+lRVnbMqndXJGr2nuWcJ5RN0feEl3IucxmK4D7teDUrfo0AlfRBdBur7VqAcUnmJFXk8045swSxI
hQ+W+m4WbkbOrv/6a3haMG65554tTC5+Gv0r2SHyp44gX/f/46OFwhPC48iibxHLuU/5FKYPRs+M
nghLYHzE6cJsGAeA9+1jx94eEl4+dkx4GUd/QgpGjpLUc6dI7si7fALFmR50lSQzvE2HxkRpjAbj
128uuePuJe+dHD74xDBcCwuFr0Ep3C6sAbvwGlvrLM5rYDrPP09hPPXD0ieeWPqDD5rhfuEZqBM8
NHABig/JFOnC/Fz0pfbBppEvYBOe3j88HiQN02dVGK/8G+MVuSiHyAfq2weeeYYcO/dMN//PbjYG
OZHIRf9eaQNjRjfs7uYHz+2h9ypx/llxvhapj8rIvhfnL+Prus9pukWdqYdSjFGYL4BI073qX1nx
im/ffiiFZ4Q6qqjYOG50G5wZfYyuE67W2+GMENNqtYow2kgapJLjDAeMktq6LisgBwvu1UnxBXyP
Pk809cmyg6wycoTdGLAqWpsdIqbM6Gyqn9EBJV5SOX/huvXzF1SRmoHmKfPmNzYNwm6hoKX3psWD
u/raEa4T+SYR9x2NfmYIXDkykG3M6TUb1ZApAb7HS6qGBtZfuqi4K3UMcA0/KBj6dg0uvqk4t4Xt
h+J8C+L8szYQbnFOr509e0qL0zVl0U03LZsCL6yuHqhr9rlXZdywaOlO/74nw09rNwY5IzaqBf0b
f5ekdhUvunT9wFAV8Y7h15JbzLYNx+mxSrDfQ/xUVEdk61nUEOziaNTZembF4D3hTmh3l1SntulX
NQ5ftnb5khXCf4AsosFe2vJ+dV+hJb+y4brFK667drnDUV1H944+O5j4FVRjsr3H8WlAWY+Kr81e
ins35SsSU2LksHGjNzf3Vj0/OFupTMrVqo50U5+0+5PHGY7Jwhk4w849d/y5S/EXs7BVEEINO8gD
TDC4Zf4m8E6rnlbuJ8vCyhB2sF+5c+WAu8nb2SsSyNeB+FNv8L+Q7klMn9jEyBGxp8vHhaWB0e0l
qmkFfVO95prUvKR4GXjx/Euyc5bOFb6AmMbauMw0e3rau3QPtbiTp8kXor9O7ceYv/6gV1malVWa
BUeFAjiKLnlKclZWcopoJ2qFMxeeN5JJPgqZB1wDXt5jPIOznDa50miWI+n3PnLJKx+sOZCBiI48
98jzwjfHMg7jKODwwLg9kuzjKnu8VPDxbwqrAhH5T6R/HvMZKRm09MJIYSHsWI1oAXmkCkqvUXEz
UdVnzyrWtBfc6Q1XZJeZ1TG8l0QqDEmGQqXMC0crMnO7TIWvCp9DpC63MEmrt+akfPrfSZnFqZqM
cqvhUzjK1mX0x3WTAuuGkl9x23jyw9HqCdSnwAinQhmPQFhymoFJlDJjWYGY8Z63du16axdUXuHz
XeGDEzvf2rnzLVd/fd28eXX17BycwhmSyHhwnAzy6hANgfgFdERrkIrwBnFbu6QhhAfIR0wGkb+/
nww2s3ShPB2s2MYkPAj4SCbMlIS8XeKDJQg7cezsqLkWD2ovr6gvMGXlavRGi1qO1GvLK9Z2KtPs
Nr3/DIyoH4ZwvmnMzqeHa8cMPRW80jErX9+iylGmh8dHJ8fpZVbX3Dr77MRp+tK0PH2PpWBGeQ/s
NOfqlJHxsVGx8jheW2mt6y0vNlZmuzRFySUF5dNFnYnXEXKVyLuisqApr3u8JSXeHgxVqWp49FHR
ZrkQv5cQ13jR5tPD9Ft9l7dofZF34JUBFKyR2ra2WuCF7wZXrRqkNvY7nPcqzhPtfjT0bL9qwVdf
4sgPIEtIhU/omFPIMx/CN5LNj+Y9O665esfQN1df8w2OewcahKcgD8eWCy+L46lD+yPCRLydZpsW
pQ7jWrnxhd8uvmjdsgePDN9x8zLhnVtvfUd45hlm57/Dcz+N46ntZnYejEfeGd570wLhyqEOuEJ4
F3JHMiXf5xtpnGTjfw/Fgh6qhJ/gcHc3koPRonjUDeloo7NpLI7qsNRRAWo8a0gDVRzI01FOVenA
PjPh3eLWipT2nPg4kqWLjVClKUlcfE57SgXEt+jXHnZO61apNI+XdqVGhqvM9TmPa1Sq7mnOw2tx
ndOjedCMPjsv+mLQ7ME4M4n/fBwOoJbhgrJ8sNMUMS7oJk4LwXcLsM80eBfS/Ugo01QRsbosPxI9
QUjk1JtV4ZGpXaVjSEi5h31EDz4uk2ankB3NljCa7TK7eeTy9DBqyRxwvL5+Zk6rPDVOFS9Lykup
1igKCpOd9bLk2MR4eVJGUji0W9fbwpVRMeE5eYWZmhKV+IchJ4LK5kJB4N6Hc2INY0z3orE1+msY
XjgnJRNuGXmSzhnkiuE4eQ71VgalgkarNprMCgca/XhgJQOa/LAnA60VaGBwajEpamkpsToVxbPX
rO6zNdaR59rCdKuqiPB4VOmapDCY2Ru3vc93fVw7clu1bLC0TMyhRSN/NqJPaqcZKjc4HWYUlUDs
GUjHEy0aXY1cm05Yqp4ZdzPe807PaHSkmy4fdN3aP7w13NtVXTWYoMiU7d6YkjJVlp8RpzQqYlq1
0x3FXdOz3Qk5jnIyWONa3jR3x+XDhtTq3rllSaWZ9mhXd08KSYzUJWss9lp9JkdzpVb0SU1o9/X0
ZOQaFc12ywxmudlpKqUJb4dVS+jpmAwyrQY+rszNy8uttFTfX20Z+/WDnUMAg7cNAiGGyoK62+oK
KguKiwvGfhWuG2ya2t8/tYnK0jkkfBP6nkn++MBmp9QQ3WdaFEIFAh2+r75yHN69l7rSe3c/5vwK
woRzEOaK8rkgkXnV37h8US56hqdHD0AzuVnMf2XjqSnxhZzu8dx19iycOXuW5Ud3khS0kfE0W6AU
Y7YidqpIczNNfzv9p2H0ZwIwSOJpiCcZjCqwSaGShbzzsE5vzn5cp4/NUK253mDMS+wvWNXWsTJ8
FqnPz6sozLkyI6tYW5Jj3zRr/uZe0uYuaVVkJcH0WQpXeqYpcY7ClZGYpo29vVGhNhXrvc3WqtYh
b3tusSsvy6KsT1BnF6WWeNOtzZ4lq+fHuz01JWpDahzdayMK5S5yGHk8UbKNosURraS9dNhqNCan
GH/EN2sWOYwXY0qyUXyjeSUZxrIpPM1hx3M5HBeWaUrAQDaBy5QlaDIdCXLjWBrEaQtyLYldOHzy
JEw9KQjCqeefh4Tnt1ZF1lnbpnW2DKmrIoebBtatHZyyIOEkNJ88ieHM188KXz37LKjKcwvm1jX3
9TZ2b+0f3Czmz2PgXahDHKKo9VCiTZJMqDMoNKAG9IDFbrfk20tfriDmmvrpHVvygMgrPC7ku8rT
wuf59p6ayllOC4OZzvXA66QYbUQ042Nk3HB2BefNZYcPlwkPsDeoeTb381O5L7OrqJdWsdwp2pZs
OyprBbwmeAi36nGPcPrn6zBhIXRMpd7WeEqGoz0x0tjNityDvyEN3WHIdBMJKZxd0XJxZ80fb2vo
X94gNyfqFaoI2wRC7n399dfhj2sqKx5cDkBk0coYkwbxayIr4WHkB17M/DbBsHArOdzAaGKFd8CH
OEZgxMBxjD9MDqsc5Vglhfzg69nYA70bq/NcUJ6f53KR+zf29LjdPVZXXn45/UTML9N6lhXXQMtt
o9F8UFWLppCPiZUtjGCtD3keeojG9/HoZrSRczSWQrrpnRNqOjufEl541+TSZ5eQenlnXXWfHha5
vivI1hflGapa2l1OE9ObSqD2i+GgtPtZZUJNR9rO/nybVZ+ZXx85dX13XUtfQ8UsviaqI9vhIjKX
oS4rNdVZUe+sN2Z2uKfWO2sKskyWCXEs8syRrrsLyPGCm3XMZ0G7T30WxTifBdWywih5LYNlpd5Q
v6VA+CvOzR1dSFJQz8VTy8JCKfyP6JocNpJS1e3u9lwsl2+eS053nzvCO88dgUMrB+fuE+3lLO4l
7jVwUX9mfK0BXIF8OHCe0VbuzOi3FHfK7meG7bMsV+muZjBqwcK9G1x3u9VjWF1DHncJlYw/OJTD
xkC+LbCKI+Bp+3bMnbvD91+eykpPFU88NdUeT3WNoTzX7HKZc8WYpxrl7mu/3FUDCpxcut5MBW4H
u17+7Mu5pz7PZVeUnRyUnQrGlzGoxTSBGpoReLtRDgxVWrTko0pKar4DWw2/QbBS1OEnm9Bs2+iq
q4Nbhf13300qcStwNGUkIpXqNj/ccKnTQEEhhU/KfTyC34Qg4U8T2PBdugZy7zUI+0woR5Jkcalx
e7Bw1vF7uCCrZo/b39KfY114PXTPiNfkrHxWwo1wecizu9APYjUcp1Gq1sjkcRFqSfDR45UqO06H
nzhjDHDbLyrhFDNm/PUvquBA9Vhdi5fqIR+zekjsWEWER64JLYpEdV1WEFwYIXez7NJ5YBAqwKFA
XkBxDgHyJhPtcTDiQ/Ewj8Mk5Td3VQwtCAFTvWuXpb9/DM6TDE5GEByz001o4YkWomSiHycbt8Ei
XpGUl5xbbNUY04py2tMcjiRFRsgyRTnhSalJKbpic2dKMuO9kPUU1IYGdu8Plh2SY1AaulwY8wp+
FF2EkFV+i59nsbtZ1qA13mNrJLIcXoDC/jW0Eo+rNKGrbDfZ7W2l9mylTqdM1OlC1nkJ75S22Xek
mHQ6UwrVQUjAEaYjE8U1QK9l/5X4iiZEJdznWQiLYapJeG02FOYIb60Dp0lYvHbrNU8/7S8DIfAs
4QPRDxhtlepYyT+XxeNRT06oZm1BxTmuonXuTaZIxXrC35FPopn9C6pIoYMuD6pKCQ/SDKiEE/8H
iVfPM59HRguafyc1PP7pH1MuDZ6rmLi2OWT13YxHAwA6/fwpwXgSYajoSQZD4fyMIjmQpcEAD4b4
kn64T4ayCkdGv8HrM4ijWH9GG0f1/37fLEYNWtX6T0oKQr0k7mzwOLqF/b4Btm067l9sz6NHEV8V
Gxc5Bs+MEC+WdkjH9kvbQ/l7A8en4P54tkM2wzReEPb7uoKZX4RxJHgrjBdZ/TKG5naUUtUonyas
nWqWhg+tY95es3f79kAtE/4IZbSaCYs7TpzoEL4KVDSJVP96EnedNlYBU06mHcSyWN+kWiG4WMbX
hWoFXqpRfcxsuXby6hnN0Y+voB3AM5pYRSPP+PXsL4FLve3xcKEfD3USwP+UdG8I3OSfx9c8AePr
GQ9MAro3wO8i7CcZ7NyfgT0Z9ccv9evJz2Hi0i0TdHQIDjpaeZsMiwnqejwGDwTz7CQLPz9OFkN7
z5xasXcN9Z2+8sUXK194gV3hhaoXAj+UXvLRj3i7FMsYOS4SRCchEkTtKZciYwpNdGPQOt4kdM8Y
2nBw5DP4XcfKrQ8sXtT3xb4bL+p3DHg+vef6pYtIoeCt/v2WIeE4HGg6uHnJT0NLb9z3Wf9ce//S
qw6c8AwxvchqgMgDsX7veqwKSM/eXwm8gemR4Gog2RfQreeBQfnSDwOmMCUTAuQNkReDYSgnw8Mc
wGS1pH9CwFQF+E6E8yTC0WA8Og5S4nhN6wd6Y6iWDYF97wRdy+qNiCvrPQtUHKnX4686bsGdBlce
RUsSXBePoRLnZHXFySrjvrjQ0vgjj5DT102sjAOXivt18iuojIXbGVOb7RrRm4wLU6ml1E6Cbaz1
C1La1yzzlLe3OXT5usTIcG9OzvE5G/ubu+9L6F7R3j1X1gMzXM7mRK0lw52cOfIX2Nq9G2TrfReV
aa+evmYf0pjV1zBWo3XFzAtUFqnZmLy6eA5ZatIK43GRsf731qFmfPJ1mvEsJl0HotihhK5juMA6
2YwZJ19JeJ/x5qSLrfObysB6h9l61gutN5mS/Jnlv5xUV06KznCotgwLwSkbo5bzY5XlT3U5Atmv
n8Hpp2DtOSkqJ8blx8JCzsPEFV/o5AO4jDnDkyNzZahT/DNMwYaYAu6xeF58EpxAP1zBuWjPEsvP
yelCUiAZXAc2BxWg7KVGg9zOMposAEQHRSwAn8xtas7Lb2kjCSFV4tbUeY62lUOt3tINM4rqWotn
q92rl6yADEd13aW5bdlms8kEUul4Vl7h9Kkt3fmZ6+I7Ys2madcul+rTrVL9/Ly+94Qquh1973GV
9JFTzPcW+fU9PA+VGNOfr+pN47bzVr7DUOonVr+hP1jmf+FaVOGed61HUPInWes6v/8TvJb+/GuJ
3u95Vytkwj9xvX9Lkh8mrXeYrZfFWc6/IplExM63fHywoE2y68FxYoZ27Ce8HmE5t6CY4UFvLx6R
WFs/LsYMduSk8OBxlPIPeql7KdXgRU1KYX6IYzPY2JC44UHvKkYecfy6sbjhPRyfzXKn1GKPxQ2h
GfUHvTODLbQIZZzikGrW/DJcOS+4+xljVbNTQz0nfxmWEjpdpjXhiXawCrawZZejvNxdvyvv+tlr
blg6vGvXcJQyPiEqPjweXDNuguuk0jZ0dlUW2vKbupwzlny/ZOPOnW/tJHx4WAQfAZcs6Kbyx2rw
uJ8ker6TV+Gdk6n0CaX5skmV+eQF++Hxvi8v0gLPgdbv1ZNV8GnsGlLFF96k5x5ayoftfrm8IDxq
gEPgzafsMQ7cQYlPQuFpfw4/8zgMnxN5aBxQvchNfpiHGUzzpDAno/w4IkxO9nFLKsYRPCxk7RQW
a0xYnZso0aFrHw8W4fFLXjNefvlAnMGzZ5w4p12vDpukO55WBz5lnS/izzGPp1fqfYH7xppgeC5i
9G9EBV/6Y5BqKfbIlotmDiaJQa79MM9a5wPz303FdT7BW+/cNTyrocritu4anlnTeP0/0vvrrTs+
TJlXVyJ8W183e3hnaVV+dZ1neGex1DfP+hGQD+L9fn9wRwL1/ANdCQ5RLYV0JsCXIn9eAA6NQsa6
G3hRb4UAIlrGmcFw1JPjYx7DyORXaaE4bffzowjrMMJKon7leGiJE/khALohhBXGr/DtRF3OeiOY
PEWPdUfQfQc6JMCK+w60SfD/FHNbrE+HH0SuFfMt43pzlEGe167g9pwvJAcrqIFPeCBsxbkP/E4V
6nYRJyoTCTRD6sdqkn0HkBwO3vcYss+P2zBwnbjrB+Gov//qQa9oE1ifyI9SDzXrAHOq5ayPWm53
Ku5du/ak8PSMGRjhfdTlnS78zQN1rtkO6BXjdtqBKog9YDY23sZmd86Y4e3shD3OGU64RHiprNMp
mP09yWG9GLMzedfT3kKzaMXTQUtLdP4EX1Yg2UDeILbf9N3z6Rf7vHcXE7hWeBUKhbfBce5VMdew
qaEVaHsy39Z4hZjqaw40VTP9xq9kfmgC9dAlP9Q09phPkDshM5kZOiI2DvqgE1FIrsIRsWvrxWBv
onJxmn5pBTV8ruWZNZdLTqdf+8yQ/AlwlpQ4gVq9sqIFYczlRDqIvc0fIxXyfmF3czZLi5y/x1k4
5lowVHHX+VudH0VJs+yScBhC/hefPr1w55VZxOBC/Vf/ZjhcqAvrDREL6s+IuYEnuQiUqOSg7AAZ
n3rwpwqmhDg2wTmDcUleIvYuI53l7BkmqbNJJGVQD7Mwn+HMWplfkBAjYk8U0w8T5gb1Rgnr2FzW
IvWBNBe4uNElJJVvoL0KYJMb+ThZPjjpsxBOWtJ0Sk1yhjheDvMvj9zmlEertdmW2tykeGVqfroy
Xiaz10Y2qRUen16XkGjJUipk4fBTg/CXPFt9TkFSvCc2Q1eWboTSho2DS+TdcoWqAI0qcK0kA+X4
OKudMs3bKuZ+pgViaVo3zoDrAmNoB7TINY/4j+S89XngppBc2I/3aCaH1QWljospzZlN5iLFlOj5
NdXzyeHWbJN7+nQcfymp4v6F4yMCFt5euiek0UOUCS/CjUe8WF1XOUmIeig0GCXHx8edwHWPFgA3
eopWLLQ2NfIzui1yyXGwVJWlq+S67JyqBJJbUBTrUhSYaukzMKQMnkX8qPWazNu5aFL/hlSFOjSE
M6En8Ijf50c7UkRtCcxBE1JFs3jH0Ho8LDpzQHMY5DAP1MY57ZJ8sWInzdjbaZuPv6FFi3+/XjX9
91ft+G1nxZ3nanuKFjUObeyt/ncTX/674b2vvrVr2aN2vslmObRu6pVzHtq68sl8WxP3P+0BiEL8
akkpjS/Q/VZpjSa7wigjcqMj0WmQmx02PXF1xc9QPBFWoOtMywubnhVTsBR+A18Kjy5yZFwK3SuF
t1pngnFVbHna+Z4L5vDzM+LntLxD+/TpDYb/VtDxQ9IcvLeVfDKSKt4ErhL+yv2EdoTeMyu1106/
sgz+mgHRWprfw3vvSfe0vPkavMcT9oDy+Z5dJhQm/IbNo+eHUNmrBKcLXwXgC1+zVej4JBy/wT+e
rgT42k5HqgJLglKEzvpaRqfBbra2XFydjv8PxABUfjSk4fTZo98SXuqttikCHe1nvI89hj/oQXzt
GXmIdHnYc9+j97GxysBz22Md8NIcNovO+9az3iN44V58Y3RcwD0Nx4mD6skssc8GuRAu2rMclu9d
/vTy9unLl09vR4yXoh3dyJ7fVlKvJyvgKU/2G3wgNnysYG8j20MeMjWOe6e0kXMa9AtqQ757gHUB
/NLvH8jyVyQCI76/wDcSwCn29iG79Yu+nmABu+ZK95B2Gq4HwlgPCeu/cWovCu7VknQtjnGJY8T+
kragzhL0u+agDW4WeZU9766mXRM8kXoigNON/ouoUE/k+zNTcr1cr6KbVKNZob4Ly1LxaFSorrTj
O7UtRFU+r2tOJJi1wmcAI9q/R8/tmOuyrfzY2K5FJ6pJa1dcvnYZeXuWfXlfY3iqLCItrHHBIntv
PqQ2qtRyXXjjFbdIdenv4SRfw6VSfy1by9wCexygBnAq/E8qq5kLxasdNHUng2fMDVs8M/mo3Mjk
KbG+xpq6Y+AuKWw++esWg/U3WdtX9MRFGOTF7lgw79g40P7oX83dnVXw2meHtq3oE+XEANP4a9AX
jWPahzIyLz1XpgO9xNn8NTVkp/k6UjO87jKh+5oaHC/MhgXontHXPdQHrqF/1Pxf0bWEyx79F38D
nqOGdSXrDWmg0gaZxoSszDC12V5K7Ymctizb9Fb+hpEqWeTFd3bdWFpdeXjhY6PcKCwG7q6olbfe
sSJaRtLDYHn4O9GxqxurmjpPQtOnn+5XvJsQddGq6IS36KP8XOHo9ySC70CfyUS1YPCT8yx9ahPj
ECVFw7/DJaktQxfd+att/cPb+ty9CgIrOts9pNEXFdvhqPY2kmPVlW+/fOS/dw9tvKPWEGO4+pER
210rc5s3eKYPcv6euq18JPIz66kDm1KdrectYEZPXq4HMk8Y+Q4O3RRhl4eFF0eUkzdHSlyNcGvK
TTrN1cms9nIreZZ8z7odjdLTpka7njx7cadwonMF2U9+e+5bXkFf0yj/J+H4fByPHli43h4JLERQ
glpP8ke+Bq3wPfwgXPaj8B3cP1wOa2BNRXOYcJ9we5hYUzxG9JDPdD2dR7/BwvMLZO6X9rBljc4l
vfyVyKccIIeiBlCmQwY4nErS+3nLve0JN24jcYTI5X/ir/z33+D7NFu5sCbaFQPWTH4Z/e4BbifP
wYecDnUdzYFJXndQYhODEOqOaMLRcwx30qdfZChs2fTZCrn/yxd4bl5d8SyXvddV65vb7PDaeLkh
p9Xc6Bl5n8Sho5QWkx6Woi226IrLwQ2HINmhcxJXQ05ReQVUQOvcivqq2v6mlv7ayjC5yWSa/ZxM
EaOL1YdlphQmNlmLa79IT6oktaVNBU4qSwmjM2Axv5f1w8sZM6tVifSReqP4sC/tyiK095w+qbE4
VqHWq4xxhYaW3NQ4nSoj0RCXkmF2Z/E7K6JT8m/pFm7w3tpQrqiKSbZcOxsu8cxerM8XdUARdztJ
hbfR1lRInfcm5ovJzVS9pfNi730GjL8RiZ/CWYPVk1ZSUJWltyQZk9oK43Wp8emE10cmJUZnFGrF
u9UG6W6iSWWSaeSJ0fHxEemF8Je0IWVyVq4prdgZHitPBJIYFsWbr09fIH5a5IyKVIfF4GfhxCTq
eDvnIBrU8UpKE/ELgvTIDOKXA+mdsL9o3x+aRoRvyvKL9xxs/BFinCRtoeN2xwblIryuZ/t1cBFE
S7aJuYhCsGerw9XhWow3iFLIgb8K8+A3YUIG/GPJqfJva4+Q1+4uE+nkxHka/zwl+3IEezaNU9CZ
EXJhL078G0YqH5Jtp8pO1b5KXh15qYzOKx99E+OibJRjpci9SpuSN5mNMjmvpJrDSTLfbnjz7YYr
boyV81FRN94UKwuTxcB6wQP3wwNCF+RlpBqThL8JR/VJqalifpI+i/csv4Ll1rJFzT0mP+bJn877
nfSAWVroU3rjnlP7j0mf2aPrPczW00l2YvI1HvYWjX8GkD53NgnM/x/28H+mT/1/3nN7ob7e/4d6
r/8XWpYz8QAAAHjanZNPTxNBGMaf7RYIYkhJiIl6mRiOZbotaaHUaErAyIHYUILnbXdoF/ZPszsF
ufkBPBkTT168cTR+H7+IF5+djkqjxoSdZOY3877vPDPzvgvgkfMMDmbfIT5YdrDmlCyXsORsWHbx
2Aksl1FxPltewNPSpuVFVErvLC+h6S5bXsaK+9ryCh66Hy2vYsP9brmCe+WW5TUsll9R0Skvc/be
qBfs4Am+WS5h1Vm37KLlVC2XIZy3lhfwxvlqeRGidG55CeelT5aX8cB9bnkFDXdoeRUv3S+WK1gv
C8truF/u4gYCdbSxg21ULbfZ/+Ytww14bA1SFwFSDKDIfVwjhybHHAVfP8GQ1gwT0/vGFkCauIhN
cDXECGNacjNTHBXHS+uJG1Fv72xX2bfrpt+qiobnNUQ3SAdK9K9zreJcHCbDNJukma9VIEU3ikQW
jsY6F5nKVXbJReAFptSZmpMUp9VUEDgySiHXY7pM9TTzRV8H4kgF4ZRLx7SPaI0YlXGqRtPIJzR4
uuINmujwNvvYwwHptsZMYXNeoSG9RrPT3d876MzEqLX5U+u/0X+GnJrnyumQ8rnF3LF63ETYVEkz
elwd01ObxCR85iKxhU0yorDGlL7gnoXPGVcj7jyw8ZK+LRbBNhmnKsvDNBGzC/X6gkmRnud1xqke
psmlqEtPNr1O7F+oVJ/JKBzQLuut9rZ3p5vOpy80BePbohmZuTZvoUxatfELTDEWibvgWsobCSbK
5y6Fp8AJS3Ziiq5qSkIylfJXGYS58FlAo5A1lqlA6MwPVOxnFyI9E3v+VGXi5Hqi8qroyy7Dembn
oqyLoknYChX0/GkkjlWSKE6KUtfU3EWN7co0aU46+42kyUxMm7Znw1jryW6tdnV1Jf2i6OUwjWua
wnfZrcbzFe/lc5QmPib9W6MWqZEfybGOo7//Qbf+Gcyn0CbuBxKtA2UAeNpt0XmUDXQYxvHPb2bM
ZswYpMVW0ULi3iuTW5IxiCSJKC2acie3mKs7d5IWRBuhVbQoax2cytq+Ie3rad9pIe1p+Vcz05zm
H8857/t93/M857x/vLI0aN9mMftRyKtvsmTL0UyuPPkKFGquSAvFSrRUqpXW2jhAWwc6yMEO0U57
HXTUyaEOc7jOujjCkY5ytK66OUZ3x+qhp4ho3e1ejtNbmeP1EXeCE/V1kn5O1l+5ASoMNMhgpxhi
qFMNc5rhTjfCGUY60yijnWWMsc52jnHOdZ7zXWC8C1WGLCtc7wbPudsPbrTALZZYbWXINtdnZrvT
Xn+ab5GbbfOVPzxgjb/95R/LPeI1r3jURS52mwnekPCq173jTW952x5V3veu9zzmEr+73Uc+8KGJ
fvKLOS6VdJnJJqm2VMrlpkirUSvjClP96EpXmeZq17rGk5aZYbqZrvOzXz3tY9/41jrrfed7z9hl
t4d8YmfI8bkvfGmHT30dmoVc99X9bIONHveEl2yy2XazbHWTtV72vBc8G/JDgXkeDIUWh+budY/f
QlFoYZU73O9ht7rLQk950ZZQHEpCy1AaWoXWoU1ebXUyEimPNHJgA2MV8Qb2Km/kgIp6xiLRSM6g
2nSqoLIqmSyLxvrECxI1meTkykxiQkMgFin7j9HejYxnV41P1tWkwsoeNbVTEulkKl2Y+n8sSlUn
mpbM1CanODMxnWjy/gUEiK0/AAAAAAAB//8AAnjaHYvbDYAwDAPPoeLx07lYqhUMSxmDOuRi6RLJ
CKjOSU5wsLAhdpNXs3cu+81jHyZ4+ZByQ6HV//K3mftEBzl42m1QsUoDQRB9u3d7hBBCvJgoFhIs
RESCRUghFhZBUAKKWNguiiIcUZLY6n2Bn+IHaa1wtdfHt3ODEpBj583NvHm782AA1HGEHHZ0PL5E
M/PzCbYQs47FAo5gYBGx8l/NeZ/N0bud+mvsZPd3Hv2H6c0Eg9nT4wwHZFphVxMhRhJjiQ4Jmuhi
E9voY6i8feWcKuuqQlOr+qanuEvFlAqfJjbOJMaaiJ0EK1hFh6ojXPC/xVOj4js+8M28qryx0sA5
XuUF69x4DwMc4ot3pWjzC1nxm5WSBZ1UsVAMneUtnoW1JlgolsQXqXcEC8WSGFGnxTfkOpfrXK5z
wbM2d+oy25BtLG9smODomQkOj2WvE2Z1WPXByv6Wym7JH/fnzg9fLDFzeNqllD1MU1EYht97W9pS
2wKCFX9gMAy4yKCEQBgJkYTBH0RRFgcG0TCogzj628nExLGJShSVCFwjEqIJxNAYXIwJyx3owuLC
4sbk8bmnRRCVFLxPvnvv6T283/t9h3PkSIrrmHrldnR29yh15eL1IR1UmN9ljFwezqaRe3ng6pBS
1y7dHFCN/UV2xg2tXcFfBHNdtL8ymrbfI0qrRw/0RGPyVKER80XPiOfEqPmmFzzHzDu9JsZ5n1BM
k2aVuSFNMZ4hZokF5qbUjeKI8VHwUfBR8FHwUfBR8FHwUZAmCY/80yaHgs/bqFlkxiKjRfSWcTlD
xllGjpbMQ+55e4+oRa1qU7uWlJdbdiioIvQoHMd7Pf3wzIrJEFkbnnZ+1dg+7vgyOTNoBkuauUz4
wRPP/n95lu3AsBkucXLjhggqFj3LssIxs8KocYssK39/347PQhQ9B3nXv2Ut34MVLL57G7//UfE2
e7bmGN2MyWz2xCp4dj1yPJf/rc333A7XKPu750CnEIGzwv/AFnlLrjeoYlPeYp/X74WdUqwna8Mr
tX/ruhsGrqp1GFw1QUhHIaxmCPZui6Ls31aVs4fbtIt93K6kusDRGShTH8R0HuLqh4QeQ1JzkNBH
SGgeQvoMSU6BPCePqyOcABUoVsIBVUFCdbCfc6Ge07MB4taBYx2ErIMy6yCqDtitTqjWcaixnso5
0bq1RycgqZOQ0ilI6zTUcXL2kDPwvZfTule1OguVOgf7bCWurSSsC1Bl64noljI4CaqK6imUa0Qv
yf4KqjmHx8k+oTfkfQspTWmGjO8hrQ+aRTnoRcT2IqJPkNYC1NqORG1HYvrhOCg71N/AajSxCs2/
zs4uHPfhqx8vt3VHd3VP9/Ezh+I8GvmfkCg+tAAAeNpjYGRgYOAAYhYGPgamzJTU/KL83DwGJhc3
nxAGvpzEkjwGFQY2BhBgZGACquRhYPwfxgDShVUUAKcdCXAAAHjaY2BgYGQAgpOd+YYg+tDU419h
NABMTwgaAAA=) format('woff'), url('../fonts/FuturaStd-Medium.ttf')  format('truetype'), url('../fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


