.product-header {
	background-color: black;
}

.product-header img {
	height: 100%;
	width: auto;
}
.product-name {
	height: 70px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.product-slogan {
	height: 36px;
	margin-bottom: 25px;
}

.product-detail .row {
	/*height: 200px;*/
	/* Rectangle 4: */
	background-color:  #A8A8A8;
	color: black;
	border-top: 5px solid #2C2C2C;
}
.product-detail .row:first-child {
	border-top: none;
}
.product-detail .container {
	background-image: -o-radial-gradient(50% 50%, #C5C5C5 50%, #A8A8A8 89%);
	background-image: -moz-radial-gradient(50% 50%, #C5C5C5 50%, #A8A8A8 89%);
	background-image: -ms-radial-gradient(50% 50%, #C5C5C5 50%, #A8A8A8 89%);
	background-image: radial-gradient(50% 50%, #C5C5C5 50%, #A8A8A8 89%);	
	padding: 50px 0px;
}
.product-detail img {
	height: 125px;
	width: 375px;
}

.product-detail .row h2 {
	font-size: 26px;
}

.product-detail .row p {
	font-size: 12px;
	text-transform: uppercase;
}

.product-detail .row .left {
	text-align: right;
}
