
@font-face {
  font-family: 'FuturaStd-Medium';
  src: url('FuturaStd-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Medium';
  src:  url('FuturaStd-Medium.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADu0ABAAAAAAaRQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA7WAAAAD4A
AABQiyWUMUZGVE0AADuYAAAAGgAAABxOtP8cR0RFRgAAN1QAAABAAAAAUAZIBOxHUE9TAAA4uAAA
Ap4AAAaE0XHDqEdTVUIAADeUAAABJAAAAf7ybtNsT1MvMgAAAeQAAABVAAAAYFsMcfZjbWFwAAAE
uAAAAggAAAKKa7/Shmdhc3AAADdMAAAACAAAAAj//wADZ2x5ZgAACNAAACmJAABMxLX2BhFoZWFk
AAABbAAAADQAAAA2BEUVPGhoZWEAAAGgAAAAIQAAACQHugQraG10eAAAAjwAAAJ5AAAEGBr3JlZs
b2NhAAAGwAAAAhAAAAIQeRWMfG1heHAAAAHEAAAAHwAAACABUABLbmFtZQAAMlwAAALLAAAFlFTF
uUVwb3N0AAA1KAAAAiIAAALYHhfjxXjaY2BkYGBgYksrPRjwKp7f5isDN/MLoAjDhe2pvTD6f+y/
LyyRzI+BXA4GJpAoAKKRDwJ42mNgZGBgtvwfyHCCpfx/7P9YlkgGoAgyYGQFAJSNBe0AAAB42mNg
ZGBgZGfwYGBnAAEmIGYEQgYGBzCfAQAKuwCdAHjaY2BmEmX8wsDKwMHUxRTBwMDgDaEZ4xiMGKUY
GJi4WZmYmFiYmJmBciAMB44uTq4MDgwKv5mYLf8HMpxgfszIowDUCJJjvML0CUgpMLAAAPOLC8UA
AAB42m2TzWtTURDFz8wL1tpqLbHa1tAmGk2s9QNpElrTpgmpDfoU0RI1IC5UFHGvIELqX+DGhQtX
6s6Fi4J0IW4UXHUl4gfoRiEV1NoGtKK5nntNIFQDPyZv3tyPd86MVOF+cphESBYX5BFKmkMP2adP
0akzSEgXShLFsOMhMnwXYX1SfD5HcEJjCDPXS66RXSRBWkgfiZM99dyQrSe77R4N5BmGvDCi+sT8
0E0Y11tcd5uxFQV5g0mvHV16F+OoYEIumc96kvlpFLzjWOt1IuOlEZSvfGbUfhS0B2F5DtU72K9l
sxzwTFXHAB01PzWOVklhlHfuZ0y786mDXISvg/yGQaRk1sVeqZAgYrqTerRhDDVkLTKHPN4hp4b7
M68hbLDr3JozyEsZW7HAPYAReWyWdM4syLxZlA9mifdUOYK9OoJFF/9q6bTn/3OkjWzRnPlla6x+
8hIT1GcV69t5Xp9bQ+1drooDcpNe2VwJHSTovoVnM7fD6X0QReazkqcGbdTrLOINqP2A0/0/eB9Z
b72gD82gYr7QiwHGF2SOXqHhw0rsvRhbnBfN0AvrmeYRquv+D16Mes7WfWgCNbNMHxKM78lrp3/D
h5XYHgthtdOjCeuF85qRex2TafMdBhK4wntPc53toTL7utEz9I17raMXh+QVfKf7J0xS66ukJFOY
khrG+X67ztMPe04Ra9yMsL+8Cm5wjtIkRJKcszTpJta7TJ3zrLscKGKjHHX4uG9OM79ZfqPPe8C+
4N7eDLbpKOfsHr/tLfXLodt+p61183gKUS/Bub2O9epz9nzOno8kSWkJw7xbTL6xr+vR9pXtDdsj
6EDwD96Bz8EAAAB42mNgYGBmgGAZBkYgycDYAuQxgvksjBlAOozBgYGVQYyhjuE/oyGjE2MwYyJj
BWMd4ySm40wnme4yr2Tew3xAQUBBREFKQU5BSUFNwUDBSsFFYY2isKKSopqinhKTEpsSv5KQkqiS
lJKckraSh1KCUqrqqd9M//8DzVdgWAA015ExiDEBaG4t0NxjQHNvwM0VVpBQkFFQAJtricVcQaC5
knBzU4DmMv7////x/0P/J/5v+l/8P/1/4H/f/1b/2P+x/f3xV/ev9F+JBycfHH9w5MHhB4ce7H+w
7cG6B0sf2N2/cf/U/eP3D9x7e+/VvUf3Ht67f+/OvZv3zt7beG/Wvem3jVn/QsKHFoCRjQFuOCMT
kGBCVwCMIhZWNnYOTi5uHl4+fgFBIWERUTFxCUkpaRlZOXkFRSVlFVU1dQ1NLW0dXT19A0MjYxNT
M3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP/+AwKDgkNCw8IjIqOiY2Lj4hESGtvbO7skz5i1etGTZ
0uUrV69as3b9ug0bN2/dsm3H9j279+57VJSSmvmkYmFB9puyrF8ds74X//6TXv7+08cbP3Jqrq3Y
1Zic9+3Mzw+5tU+TmlqnHz126/b9B3fu7vx78OTLV89f/Pv/uPLew2ctPc29Xf0TJvZNncYwZc7c
2YfOXim8cPFS1dXL5wCHENLmAAAAJgAmACYAJgBAAFQAhADMAQ4BbgF8AZQBrAHMAeAB7gH6Ag4C
HgJUAmQCiAK8AtgDBgM0A0YDhAOyA9QD8AQEBBgEKgR6BNQE7gUmBUgFbAWEBZoFxgXeBewGDAYo
BjgGVAZoBowGtAbmBxQHTAdeB3gHjAemB8IH2AfsB/4IDAgeCDIIQAhOCHoIqAjKCPgJJglKCYYJ
rAnICeQJ/AoKCkYKbAqMCroK6AsIC0ILWAt0C4YLngu2C8oL3gwSDCAMVgyIDIgMogzWDSINXA2E
DZYN+g4aDlwOhg6iDrIOvg8CDxAPNA9OD3IPpA+yD9AP7hACEBAQIBBCEFwQiBC+EQwRXBF+EaAR
xBH8Ei4SYhKKErQS1BLyExQTRBNYE2wThBOoE9QUBhQyFF4UjBTOFQoVJBVgFYIVpBXIFfoWGBZA
FnoWrhbiFxoXZBeqF/IYSBhyGKgY3hkWGV4ZchmIGaAZxhoIGkwadBqcGsYbBBs+G2YboBvEG+gc
DhxEHGAcjhy8HMoc5hz+HTYdgh3EHggeNh5UHnIerh7AHtIe4B74HwwfLh9IH2wfgh+0H9If+iAG
IBQgIiAwID4gTCBkIHwgkiCoIMYg2iEKIWQhdiGGIZYh1iIQIjgiaiKkIt4i/iMWIzQjQCNQI2Qj
hCPeJBIkaCSKJKYkwiTsJSQlTiWGJbAl2iX8JgwmMCZieNrdfAl4U2XW8D3vbZPubZqtbbolaZOu
aZs0SZu26V5aWkppS2hDCaWUQtlENmUREBRxHVDcGeYTVMZtdBAZHddRPxX1cxwFHUcHHRSXcWMQ
9ZOht/9533uTJm0F/+d7/v95/h+amzb3fc973vOe/ZwbLpzDf3CGPMXxnIyL5GK4eI4rUegVvFKv
1CpAHw0KJZw5e7/w4Cv3CzdA9/2v3E+eGmmAa7lR4egoCCPHuFEoEAg3yhFu4egp7n1yGuHEcpzD
qlGrZAaTvdSpsCmuLjYYig2x3kGjNslgSNIuIw0jT3E4xwv3wxycw3NyjlPaeCN9eQcS3b/CFzkt
PA7NwuM4LhkH55I3OB2XQcfJbU58qY3sZXSyl91GX1q89d60rI3G6ca+JboFa0xt2RtyWrMHV+mG
L6nRbdCRN55//vmOOzrewn/41nHHHUgCnrOO7iIJfB8Xzpm4AqSJwg32Ut5uU2u0cpNZnQ64Gbna
aLeA2ZkOWoXZgvcdSnsc3oBploo7rSvLp6dVe4dXdVhnXRHnja2ryWqaOtyaY4c5wr+i2os74AOv
N3q40Kn80ryku/P66LlzYf0sZV19BBQkZnXUt64WPnhb5jJPoUcSzilGT5FDPGG01OKezRyXaJCp
VRqrAymqBTMX+IuzaiihA++nfI2NvsbvCoVmC7zIfhdg56LhG4bhAfZGXqqzFNbVFVo2pYxEJAOR
/iLlC24YHLxBuJ+9UZrYEYcXEQcFl8XVIk3kcXJc0mZ1g5N3usPtpSYjRQLJAWaZkR61oxro1UbP
Po7ItU6tXAsZkWCK0scmRUZ6HPqGvPSbYsIyYrTRkSVmY0lCbAI4Ogc39V9VX1vUNdDWPKS1mNJ/
3VPZdxWslkGKPCU2RaWLdcw0ZKVDXQSvjdYqUmLN+YXGxGylauSHobWb+mt7igyz2tt6ZzanO0sy
Nc8MuZceoGxNeYt7ivEW5+cqylHsXvloNfcln4v05ZRaWQIeMklIvGuqxzO1tLSUz3UeGvnqkHMh
RIMMYsaPd2oSE4jc7Egop4NLp3rIaeeQcEY4K3y/0HmIqOj4angKLsa1FXRtNaWD3IzsIzc7zU7t
440zjDNnGmc0zjLM7M7oJafnFldYrS5r/7yS8hJreQnO1yO/6wnHRbP5yOU4Gbn7B8+xY/hDOHr1
4DjH6DTuNHcJ3aNTy5vvbr/SeUmG8L2W4Qw6UMGQuH+1sfz992GoFT+fhXL6GjdI9zImpeuYhPrl
k9Eoc3QrieAH6Xx6xPBcszB3Cj+Yec6dyVHZTUH+yEH+UHJGjgszWHh7qZtY0wk9e2KII6p0YnWT
UgtA74rZFTmKNNeSa5a40hQ5FfP7p2QrFNlTxLcEe+fihSXVl29ob99weXXJwsWd5Pr6ofk9A0N1
dUMDPfOHEJcNiEMP0hM1ltLotCmMwrbS+7xkj2ckjuFaiAipEBc10kGv1oND5E650Q2MG+WfQLGQ
DFPreyvKu8N80ZsXDFxX5vHAzZ32ipkzyofWXz7P04hwKM/HIBwDArVbx4AwGJRWyOdmWzoCpSuA
cvfUcltdxJzYVX+8rH/J1Yv6tofNlneVuTt7YVH7uvLmipI58y7qW+2w7Vi4YYXXUedxT+lgtENt
R/L5RC4CdS6XLZ6vHniFkYdjHo9XuA7e8JKjz3UuX07uHvkdOIUjTFVz6YifDumQin8Y5U6rHyWn
HyWGr1JPEr4usi/ecdfaKZszmxTzbW2Ll7TkTEtKXA0WsudOfs/StbdMqaorql3W1rI4KwO2UZxy
EHYq7j0BtSyeOK8VBVkUbaeSgWdaBzY0HCFZptmbb1w4/7bO39b0D2wcmMsTi3CKJP5qzsJdvxro
XS7s6XM3+Pqran0M7yKE3S6eH+hxp2Z4TFhPMoS8FjzDc0KhX9/EMp2XRvXdmIYLL3U4qV5hh8BU
scE0dhdmr+7xrvAKW93l8y87fNn8cvfVL10NGUPTZvhmQH9XBR5zWUVF9YCq7OLZl1wy++Iy1UD1
0MaNpKnNUdjVVehg51Eq8XICpazWrPQrNJF5zH7S4pLHcO+phX3S3pu8c6oaBuYnFEE8ibuuT9x7
jq+map6vpnYOx2AzeYMTuC9lsMQljpM9Q4gEwl1joogwLCjnZxEGT20rlfSx2XtQ5tezuUzyyaZg
GdZzcUQPp9G6c6COBXW2neiFLbBF4OC0b/du35+bRPh6bjOOu1yywyhB9D8qIIGjL7jc4/GMh6e0
h6vD7dlsEGwBCuvPvt0iLeFOpGURV45TbBqJlE53hJ+IWqPZJJFWJpcxo+KQBTYEhbP5wdp6X11l
eHpMSpQqIiqsNMdok/lI2PKWtkWOjDktOemZOf1sz9BbM29OfU2VhkSHRctjYxISo3OLbcYojX7K
/KHWdosuTWNLzys8FiAK4bLwrEcQv2jOjfg5pHNFFKrBxss0tqDDtlmd2jjws4KWIhwHZtMYd8CP
8jK7a6qz0F2jj5tijQRNVvPtazY99MS2y8tba1b37v/H3++6tn+F29BpKohyT61fsNLbDqsr630V
lobpL7iF0eSqS5s33vyHrVcdLK40GD6678CJWfOu3DajsICQSveytrm/Yucz+t94eQX1BfXSuGy9
3BgJxmhCYoV7PQtgESxacNn27U8/zSee+waUUCL8mcpTDe7uB5S5CC4RLTinVEs74xU21GwWwn6h
6ho9GyZVxr1J7d1d01KaDxor3cbb+lx9iEd2ree25WTv2dKpLTbhSeHfV5rsKdHCAXI6MX9mVX6X
gsRc1LB42K+blok6GNRjBFQHiEWWda2+7KEHLls5y7t032f/PLCE/HnZ1Mc2X/ZY+0X2E/sPfIpn
gziTbQxnhGJTSAqIIuomDOeaPX849c1TFfq2jQvKy4c2tJHTfzr0xItkz8gf0+tWT+9YXZvO+LQZ
L39HONEUisTO+N4MNwtHwCK8BU5y2vO2R/jYI+pVdLvgEPNdUT+xwUaFHg4J/wKZcNYHy8ieox7h
BhyAY9W4zx9xnzo2ViXLlBSFVm6BAC85jfA65L8ivPTRyX29+511uVsaNj380KXeO/gXYGP6r//y
xd79n09rrC6rf3Tzuie3eylcuvf5Is5KPTrNiAG+bHthoc8n3O7zwfNQPBIHi4VbRDwaEfP9kn+D
A/f7yOmROHqLg9GvUQaL8Hcltf0KNMgGs5O6bmGl9r/44nNnbnIW6fM0Rk2CPAx9In3VnN5ifUdy
giontVSTLNKPLJRwARsyG8gpLvdCzQbhIejdLHxiQoQegCnCQ8I8mJsl/KeIE6X7tZKdVtiQjPee
FJ5GvAY94v3Y0VP8FORjhBvOG9HdjwQlvsH9J0jPvDuAB/6OeT0kgRAhjk8c+R3pRIY+Tf2p0X+Q
t3kN1U42BSjoq5o4fCOv8pqRh0nhuW/JjJE3kH+UCD+X2RDceWKmRjoejnF+Jp7NOWj44lPh8KeQ
8MPBB4RzD/Dks30HTpw4sE8o/P2WzQcPbt7C9CHdxyeIchR634y6EznxXt/SA1fftMaRnlvtNmTV
uXOhUniRnF62bMVSGBBOR+lc+XllyZGifvXjFU/jl3CjX4EwBOVmLY02GHpUYMx8zsraeWvv+fQL
xNVd9odL8iwU04MbOhseSqivR1w/+2xfxy77E2uz15QzlH+ff5+IM0ljPiflTEpWhjf650y6/agb
oeiblcfNvpX59tZUi33wb2wD/0UDLagW/kRO8wkJugFn5yXQJnxLd3EV8wVPwVnEP4vGAaJsZ4Co
NKj34deaRcDiItSLJ1rzphe3Dzu8864dmr01Zi7MdFdOb6wqnTbrCu9WsrNwSmVRQ47auKhn6MpL
+lRVnbMqndXJGr2nuWcJ5RN0feEl3IucxmK4D7teDUrfo0AlfRBdBur7VqAcUnmJFXk8045swSxI
hQ+W+m4WbkbOrv/6a3haMG65554tTC5+Gv0r2SHyp44gX/f/46OFwhPC48iibxHLuU/5FKYPRs+M
nghLYHzE6cJsGAeA9+1jx94eEl4+dkx4GUd/QgpGjpLUc6dI7si7fALFmR50lSQzvE2HxkRpjAbj
128uuePuJe+dHD74xDBcCwuFr0Ep3C6sAbvwGlvrLM5rYDrPP09hPPXD0ieeWPqDD5rhfuEZqBM8
NHABig/JFOnC/Fz0pfbBppEvYBOe3j88HiQN02dVGK/8G+MVuSiHyAfq2weeeYYcO/dMN//PbjYG
OZHIRf9eaQNjRjfs7uYHz+2h9ypx/llxvhapj8rIvhfnL+Prus9pukWdqYdSjFGYL4BI073qX1nx
im/ffiiFZ4Q6qqjYOG50G5wZfYyuE67W2+GMENNqtYow2kgapJLjDAeMktq6LisgBwvu1UnxBXyP
Pk809cmyg6wycoTdGLAqWpsdIqbM6Gyqn9EBJV5SOX/huvXzF1SRmoHmKfPmNzYNwm6hoKX3psWD
u/raEa4T+SYR9x2NfmYIXDkykG3M6TUb1ZApAb7HS6qGBtZfuqi4K3UMcA0/KBj6dg0uvqk4t4Xt
h+J8C+L8szYQbnFOr509e0qL0zVl0U03LZsCL6yuHqhr9rlXZdywaOlO/74nw09rNwY5IzaqBf0b
f5ekdhUvunT9wFAV8Y7h15JbzLYNx+mxSrDfQ/xUVEdk61nUEOziaNTZembF4D3hTmh3l1SntulX
NQ5ftnb5khXCf4AsosFe2vJ+dV+hJb+y4brFK667drnDUV1H944+O5j4FVRjsr3H8WlAWY+Kr81e
ins35SsSU2LksHGjNzf3Vj0/OFupTMrVqo50U5+0+5PHGY7Jwhk4w849d/y5S/EXs7BVEEINO8gD
TDC4Zf4m8E6rnlbuJ8vCyhB2sF+5c+WAu8nb2SsSyNeB+FNv8L+Q7klMn9jEyBGxp8vHhaWB0e0l
qmkFfVO95prUvKR4GXjx/Euyc5bOFb6AmMbauMw0e3rau3QPtbiTp8kXor9O7ceYv/6gV1malVWa
BUeFAjiKLnlKclZWcopoJ2qFMxeeN5JJPgqZB1wDXt5jPIOznDa50miWI+n3PnLJKx+sOZCBiI48
98jzwjfHMg7jKODwwLg9kuzjKnu8VPDxbwqrAhH5T6R/HvMZKRm09MJIYSHsWI1oAXmkCkqvUXEz
UdVnzyrWtBfc6Q1XZJeZ1TG8l0QqDEmGQqXMC0crMnO7TIWvCp9DpC63MEmrt+akfPrfSZnFqZqM
cqvhUzjK1mX0x3WTAuuGkl9x23jyw9HqCdSnwAinQhmPQFhymoFJlDJjWYGY8Z63du16axdUXuHz
XeGDEzvf2rnzLVd/fd28eXX17BycwhmSyHhwnAzy6hANgfgFdERrkIrwBnFbu6QhhAfIR0wGkb+/
nww2s3ShPB2s2MYkPAj4SCbMlIS8XeKDJQg7cezsqLkWD2ovr6gvMGXlavRGi1qO1GvLK9Z2KtPs
Nr3/DIyoH4ZwvmnMzqeHa8cMPRW80jErX9+iylGmh8dHJ8fpZVbX3Dr77MRp+tK0PH2PpWBGeQ/s
NOfqlJHxsVGx8jheW2mt6y0vNlZmuzRFySUF5dNFnYnXEXKVyLuisqApr3u8JSXeHgxVqWp49FHR
ZrkQv5cQ13jR5tPD9Ft9l7dofZF34JUBFKyR2ra2WuCF7wZXrRqkNvY7nPcqzhPtfjT0bL9qwVdf
4sgPIEtIhU/omFPIMx/CN5LNj+Y9O665esfQN1df8w2OewcahKcgD8eWCy+L46lD+yPCRLydZpsW
pQ7jWrnxhd8uvmjdsgePDN9x8zLhnVtvfUd45hlm57/Dcz+N46ntZnYejEfeGd570wLhyqEOuEJ4
F3JHMiXf5xtpnGTjfw/Fgh6qhJ/gcHc3koPRonjUDeloo7NpLI7qsNRRAWo8a0gDVRzI01FOVenA
PjPh3eLWipT2nPg4kqWLjVClKUlcfE57SgXEt+jXHnZO61apNI+XdqVGhqvM9TmPa1Sq7mnOw2tx
ndOjedCMPjsv+mLQ7ME4M4n/fBwOoJbhgrJ8sNMUMS7oJk4LwXcLsM80eBfS/Ugo01QRsbosPxI9
QUjk1JtV4ZGpXaVjSEi5h31EDz4uk2ankB3NljCa7TK7eeTy9DBqyRxwvL5+Zk6rPDVOFS9Lykup
1igKCpOd9bLk2MR4eVJGUji0W9fbwpVRMeE5eYWZmhKV+IchJ4LK5kJB4N6Hc2INY0z3orE1+msY
XjgnJRNuGXmSzhnkiuE4eQ71VgalgkarNprMCgca/XhgJQOa/LAnA60VaGBwajEpamkpsToVxbPX
rO6zNdaR59rCdKuqiPB4VOmapDCY2Ru3vc93fVw7clu1bLC0TMyhRSN/NqJPaqcZKjc4HWYUlUDs
GUjHEy0aXY1cm05Yqp4ZdzPe807PaHSkmy4fdN3aP7w13NtVXTWYoMiU7d6YkjJVlp8RpzQqYlq1
0x3FXdOz3Qk5jnIyWONa3jR3x+XDhtTq3rllSaWZ9mhXd08KSYzUJWss9lp9JkdzpVb0SU1o9/X0
ZOQaFc12ywxmudlpKqUJb4dVS+jpmAwyrQY+rszNy8uttFTfX20Z+/WDnUMAg7cNAiGGyoK62+oK
KguKiwvGfhWuG2ya2t8/tYnK0jkkfBP6nkn++MBmp9QQ3WdaFEIFAh2+r75yHN69l7rSe3c/5vwK
woRzEOaK8rkgkXnV37h8US56hqdHD0AzuVnMf2XjqSnxhZzu8dx19iycOXuW5Ud3khS0kfE0W6AU
Y7YidqpIczNNfzv9p2H0ZwIwSOJpiCcZjCqwSaGShbzzsE5vzn5cp4/NUK253mDMS+wvWNXWsTJ8
FqnPz6sozLkyI6tYW5Jj3zRr/uZe0uYuaVVkJcH0WQpXeqYpcY7ClZGYpo29vVGhNhXrvc3WqtYh
b3tusSsvy6KsT1BnF6WWeNOtzZ4lq+fHuz01JWpDahzdayMK5S5yGHk8UbKNosURraS9dNhqNCan
GH/EN2sWOYwXY0qyUXyjeSUZxrIpPM1hx3M5HBeWaUrAQDaBy5QlaDIdCXLjWBrEaQtyLYldOHzy
JEw9KQjCqeefh4Tnt1ZF1lnbpnW2DKmrIoebBtatHZyyIOEkNJ88ieHM188KXz37LKjKcwvm1jX3
9TZ2b+0f3Czmz2PgXahDHKKo9VCiTZJMqDMoNKAG9IDFbrfk20tfriDmmvrpHVvygMgrPC7ku8rT
wuf59p6ayllOC4OZzvXA66QYbUQ042Nk3HB2BefNZYcPlwkPsDeoeTb381O5L7OrqJdWsdwp2pZs
OyprBbwmeAi36nGPcPrn6zBhIXRMpd7WeEqGoz0x0tjNityDvyEN3WHIdBMJKZxd0XJxZ80fb2vo
X94gNyfqFaoI2wRC7n399dfhj2sqKx5cDkBk0coYkwbxayIr4WHkB17M/DbBsHArOdzAaGKFd8CH
OEZgxMBxjD9MDqsc5Vglhfzg69nYA70bq/NcUJ6f53KR+zf29LjdPVZXXn45/UTML9N6lhXXQMtt
o9F8UFWLppCPiZUtjGCtD3keeojG9/HoZrSRczSWQrrpnRNqOjufEl541+TSZ5eQenlnXXWfHha5
vivI1hflGapa2l1OE9ObSqD2i+GgtPtZZUJNR9rO/nybVZ+ZXx85dX13XUtfQ8UsviaqI9vhIjKX
oS4rNdVZUe+sN2Z2uKfWO2sKskyWCXEs8syRrrsLyPGCm3XMZ0G7T30WxTifBdWywih5LYNlpd5Q
v6VA+CvOzR1dSFJQz8VTy8JCKfyP6JocNpJS1e3u9lwsl2+eS053nzvCO88dgUMrB+fuE+3lLO4l
7jVwUX9mfK0BXIF8OHCe0VbuzOi3FHfK7meG7bMsV+muZjBqwcK9G1x3u9VjWF1DHncJlYw/OJTD
xkC+LbCKI+Bp+3bMnbvD91+eykpPFU88NdUeT3WNoTzX7HKZc8WYpxrl7mu/3FUDCpxcut5MBW4H
u17+7Mu5pz7PZVeUnRyUnQrGlzGoxTSBGpoReLtRDgxVWrTko0pKar4DWw2/QbBS1OEnm9Bs2+iq
q4Nbhf13300qcStwNGUkIpXqNj/ccKnTQEEhhU/KfTyC34Qg4U8T2PBdugZy7zUI+0woR5Jkcalx
e7Bw1vF7uCCrZo/b39KfY114PXTPiNfkrHxWwo1wecizu9APYjUcp1Gq1sjkcRFqSfDR45UqO06H
nzhjDHDbLyrhFDNm/PUvquBA9Vhdi5fqIR+zekjsWEWER64JLYpEdV1WEFwYIXez7NJ5YBAqwKFA
XkBxDgHyJhPtcTDiQ/Ewj8Mk5Td3VQwtCAFTvWuXpb9/DM6TDE5GEByz001o4YkWomSiHycbt8Ei
XpGUl5xbbNUY04py2tMcjiRFRsgyRTnhSalJKbpic2dKMuO9kPUU1IYGdu8Plh2SY1AaulwY8wp+
FF2EkFV+i59nsbtZ1qA13mNrJLIcXoDC/jW0Eo+rNKGrbDfZ7W2l9mylTqdM1OlC1nkJ75S22Xek
mHQ6UwrVQUjAEaYjE8U1QK9l/5X4iiZEJdznWQiLYapJeG02FOYIb60Dp0lYvHbrNU8/7S8DIfAs
4QPRDxhtlepYyT+XxeNRT06oZm1BxTmuonXuTaZIxXrC35FPopn9C6pIoYMuD6pKCQ/SDKiEE/8H
iVfPM59HRguafyc1PP7pH1MuDZ6rmLi2OWT13YxHAwA6/fwpwXgSYajoSQZD4fyMIjmQpcEAD4b4
kn64T4ayCkdGv8HrM4ijWH9GG0f1/37fLEYNWtX6T0oKQr0k7mzwOLqF/b4Btm067l9sz6NHEV8V
Gxc5Bs+MEC+WdkjH9kvbQ/l7A8en4P54tkM2wzReEPb7uoKZX4RxJHgrjBdZ/TKG5naUUtUonyas
nWqWhg+tY95es3f79kAtE/4IZbSaCYs7TpzoEL4KVDSJVP96EnedNlYBU06mHcSyWN+kWiG4WMbX
hWoFXqpRfcxsuXby6hnN0Y+voB3AM5pYRSPP+PXsL4FLve3xcKEfD3USwP+UdG8I3OSfx9c8AePr
GQ9MAro3wO8i7CcZ7NyfgT0Z9ccv9evJz2Hi0i0TdHQIDjpaeZsMiwnqejwGDwTz7CQLPz9OFkN7
z5xasXcN9Z2+8sUXK194gV3hhaoXAj+UXvLRj3i7FMsYOS4SRCchEkTtKZciYwpNdGPQOt4kdM8Y
2nBw5DP4XcfKrQ8sXtT3xb4bL+p3DHg+vef6pYtIoeCt/v2WIeE4HGg6uHnJT0NLb9z3Wf9ce//S
qw6c8AwxvchqgMgDsX7veqwKSM/eXwm8gemR4Gog2RfQreeBQfnSDwOmMCUTAuQNkReDYSgnw8Mc
wGS1pH9CwFQF+E6E8yTC0WA8Og5S4nhN6wd6Y6iWDYF97wRdy+qNiCvrPQtUHKnX4686bsGdBlce
RUsSXBePoRLnZHXFySrjvrjQ0vgjj5DT102sjAOXivt18iuojIXbGVOb7RrRm4wLU6ml1E6Cbaz1
C1La1yzzlLe3OXT5usTIcG9OzvE5G/ubu+9L6F7R3j1X1gMzXM7mRK0lw52cOfIX2Nq9G2TrfReV
aa+evmYf0pjV1zBWo3XFzAtUFqnZmLy6eA5ZatIK43GRsf731qFmfPJ1mvEsJl0HotihhK5juMA6
2YwZJ19JeJ/x5qSLrfObysB6h9l61gutN5mS/Jnlv5xUV06KznCotgwLwSkbo5bzY5XlT3U5Atmv
n8Hpp2DtOSkqJ8blx8JCzsPEFV/o5AO4jDnDkyNzZahT/DNMwYaYAu6xeF58EpxAP1zBuWjPEsvP
yelCUiAZXAc2BxWg7KVGg9zOMposAEQHRSwAn8xtas7Lb2kjCSFV4tbUeY62lUOt3tINM4rqWotn
q92rl6yADEd13aW5bdlms8kEUul4Vl7h9Kkt3fmZ6+I7Ys2madcul+rTrVL9/Ly+94Qquh1973GV
9JFTzPcW+fU9PA+VGNOfr+pN47bzVr7DUOonVr+hP1jmf+FaVOGed61HUPInWes6v/8TvJb+/GuJ
3u95Vytkwj9xvX9Lkh8mrXeYrZfFWc6/IplExM63fHywoE2y68FxYoZ27Ce8HmE5t6CY4UFvLx6R
WFs/LsYMduSk8OBxlPIPeql7KdXgRU1KYX6IYzPY2JC44UHvKkYecfy6sbjhPRyfzXKn1GKPxQ2h
GfUHvTODLbQIZZzikGrW/DJcOS+4+xljVbNTQz0nfxmWEjpdpjXhiXawCrawZZejvNxdvyvv+tlr
blg6vGvXcJQyPiEqPjweXDNuguuk0jZ0dlUW2vKbupwzlny/ZOPOnW/tJHx4WAQfAZcs6Kbyx2rw
uJ8ker6TV+Gdk6n0CaX5skmV+eQF++Hxvi8v0gLPgdbv1ZNV8GnsGlLFF96k5x5ayoftfrm8IDxq
gEPgzafsMQ7cQYlPQuFpfw4/8zgMnxN5aBxQvchNfpiHGUzzpDAno/w4IkxO9nFLKsYRPCxk7RQW
a0xYnZso0aFrHw8W4fFLXjNefvlAnMGzZ5w4p12vDpukO55WBz5lnS/izzGPp1fqfYH7xppgeC5i
9G9EBV/6Y5BqKfbIlotmDiaJQa79MM9a5wPz303FdT7BW+/cNTyrocritu4anlnTeP0/0vvrrTs+
TJlXVyJ8W183e3hnaVV+dZ1neGex1DfP+hGQD+L9fn9wRwL1/ANdCQ5RLYV0JsCXIn9eAA6NQsa6
G3hRb4UAIlrGmcFw1JPjYx7DyORXaaE4bffzowjrMMJKon7leGiJE/khALohhBXGr/DtRF3OeiOY
PEWPdUfQfQc6JMCK+w60SfD/FHNbrE+HH0SuFfMt43pzlEGe167g9pwvJAcrqIFPeCBsxbkP/E4V
6nYRJyoTCTRD6sdqkn0HkBwO3vcYss+P2zBwnbjrB+Gov//qQa9oE1ifyI9SDzXrAHOq5ayPWm53
Ku5du/ak8PSMGRjhfdTlnS78zQN1rtkO6BXjdtqBKog9YDY23sZmd86Y4e3shD3OGU64RHiprNMp
mP09yWG9GLMzedfT3kKzaMXTQUtLdP4EX1Yg2UDeILbf9N3z6Rf7vHcXE7hWeBUKhbfBce5VMdew
qaEVaHsy39Z4hZjqaw40VTP9xq9kfmgC9dAlP9Q09phPkDshM5kZOiI2DvqgE1FIrsIRsWvrxWBv
onJxmn5pBTV8ruWZNZdLTqdf+8yQ/AlwlpQ4gVq9sqIFYczlRDqIvc0fIxXyfmF3czZLi5y/x1k4
5lowVHHX+VudH0VJs+yScBhC/hefPr1w55VZxOBC/Vf/ZjhcqAvrDREL6s+IuYEnuQiUqOSg7AAZ
n3rwpwqmhDg2wTmDcUleIvYuI53l7BkmqbNJJGVQD7Mwn+HMWplfkBAjYk8U0w8T5gb1Rgnr2FzW
IvWBNBe4uNElJJVvoL0KYJMb+ThZPjjpsxBOWtJ0Sk1yhjheDvMvj9zmlEertdmW2tykeGVqfroy
Xiaz10Y2qRUen16XkGjJUipk4fBTg/CXPFt9TkFSvCc2Q1eWboTSho2DS+TdcoWqAI0qcK0kA+X4
OKudMs3bKuZ+pgViaVo3zoDrAmNoB7TINY/4j+S89XngppBc2I/3aCaH1QWljospzZlN5iLFlOj5
NdXzyeHWbJN7+nQcfymp4v6F4yMCFt5euiek0UOUCS/CjUe8WF1XOUmIeig0GCXHx8edwHWPFgA3
eopWLLQ2NfIzui1yyXGwVJWlq+S67JyqBJJbUBTrUhSYaukzMKQMnkX8qPWazNu5aFL/hlSFOjSE
M6En8Ijf50c7UkRtCcxBE1JFs3jH0Ho8LDpzQHMY5DAP1MY57ZJ8sWInzdjbaZuPv6FFi3+/XjX9
91ft+G1nxZ3nanuKFjUObeyt/ncTX/674b2vvrVr2aN2vslmObRu6pVzHtq68sl8WxP3P+0BiEL8
akkpjS/Q/VZpjSa7wigjcqMj0WmQmx02PXF1xc9QPBFWoOtMywubnhVTsBR+A18Kjy5yZFwK3SuF
t1pngnFVbHna+Z4L5vDzM+LntLxD+/TpDYb/VtDxQ9IcvLeVfDKSKt4ErhL+yv2EdoTeMyu1106/
sgz+mgHRWprfw3vvSfe0vPkavMcT9oDy+Z5dJhQm/IbNo+eHUNmrBKcLXwXgC1+zVej4JBy/wT+e
rgT42k5HqgJLglKEzvpaRqfBbra2XFydjv8PxABUfjSk4fTZo98SXuqttikCHe1nvI89hj/oQXzt
GXmIdHnYc9+j97GxysBz22Md8NIcNovO+9az3iN44V58Y3RcwD0Nx4mD6skssc8GuRAu2rMclu9d
/vTy9unLl09vR4yXoh3dyJ7fVlKvJyvgKU/2G3wgNnysYG8j20MeMjWOe6e0kXMa9AtqQ757gHUB
/NLvH8jyVyQCI76/wDcSwCn29iG79Yu+nmABu+ZK95B2Gq4HwlgPCeu/cWovCu7VknQtjnGJY8T+
kragzhL0u+agDW4WeZU9766mXRM8kXoigNON/ouoUE/k+zNTcr1cr6KbVKNZob4Ly1LxaFSorrTj
O7UtRFU+r2tOJJi1wmcAI9q/R8/tmOuyrfzY2K5FJ6pJa1dcvnYZeXuWfXlfY3iqLCItrHHBIntv
PqQ2qtRyXXjjFbdIdenv4SRfw6VSfy1by9wCexygBnAq/E8qq5kLxasdNHUng2fMDVs8M/mo3Mjk
KbG+xpq6Y+AuKWw++esWg/U3WdtX9MRFGOTF7lgw79g40P7oX83dnVXw2meHtq3oE+XEANP4a9AX
jWPahzIyLz1XpgO9xNn8NTVkp/k6UjO87jKh+5oaHC/MhgXontHXPdQHrqF/1Pxf0bWEyx79F38D
nqOGdSXrDWmg0gaZxoSszDC12V5K7Ymctizb9Fb+hpEqWeTFd3bdWFpdeXjhY6PcKCwG7q6olbfe
sSJaRtLDYHn4O9GxqxurmjpPQtOnn+5XvJsQddGq6IS36KP8XOHo9ySC70CfyUS1YPCT8yx9ahPj
ECVFw7/DJaktQxfd+att/cPb+ty9CgIrOts9pNEXFdvhqPY2kmPVlW+/fOS/dw9tvKPWEGO4+pER
210rc5s3eKYPcv6euq18JPIz66kDm1KdrectYEZPXq4HMk8Y+Q4O3RRhl4eFF0eUkzdHSlyNcGvK
TTrN1cms9nIreZZ8z7odjdLTpka7njx7cadwonMF2U9+e+5bXkFf0yj/J+H4fByPHli43h4JLERQ
glpP8ke+Bq3wPfwgXPaj8B3cP1wOa2BNRXOYcJ9we5hYUzxG9JDPdD2dR7/BwvMLZO6X9rBljc4l
vfyVyKccIIeiBlCmQwY4nErS+3nLve0JN24jcYTI5X/ir/z33+D7NFu5sCbaFQPWTH4Z/e4BbifP
wYecDnUdzYFJXndQYhODEOqOaMLRcwx30qdfZChs2fTZCrn/yxd4bl5d8SyXvddV65vb7PDaeLkh
p9Xc6Bl5n8Sho5QWkx6Woi226IrLwQ2HINmhcxJXQ05ReQVUQOvcivqq2v6mlv7ayjC5yWSa/ZxM
EaOL1YdlphQmNlmLa79IT6oktaVNBU4qSwmjM2Axv5f1w8sZM6tVifSReqP4sC/tyiK095w+qbE4
VqHWq4xxhYaW3NQ4nSoj0RCXkmF2Z/E7K6JT8m/pFm7w3tpQrqiKSbZcOxsu8cxerM8XdUARdztJ
hbfR1lRInfcm5ovJzVS9pfNi730GjL8RiZ/CWYPVk1ZSUJWltyQZk9oK43Wp8emE10cmJUZnFGrF
u9UG6W6iSWWSaeSJ0fHxEemF8Je0IWVyVq4prdgZHitPBJIYFsWbr09fIH5a5IyKVIfF4GfhxCTq
eDvnIBrU8UpKE/ELgvTIDOKXA+mdsL9o3x+aRoRvyvKL9xxs/BFinCRtoeN2xwblIryuZ/t1cBFE
S7aJuYhCsGerw9XhWow3iFLIgb8K8+A3YUIG/GPJqfJva4+Q1+4uE+nkxHka/zwl+3IEezaNU9CZ
EXJhL078G0YqH5Jtp8pO1b5KXh15qYzOKx99E+OibJRjpci9SpuSN5mNMjmvpJrDSTLfbnjz7YYr
boyV81FRN94UKwuTxcB6wQP3wwNCF+RlpBqThL8JR/VJqalifpI+i/csv4Ll1rJFzT0mP+bJn877
nfSAWVroU3rjnlP7j0mf2aPrPczW00l2YvI1HvYWjX8GkD53NgnM/x/28H+mT/1/3nN7ob7e/4d6
r/8XWpYz8QAAAHjanZNPTxNBGMaf7RYIYkhJiIl6mRiOZbotaaHUaErAyIHYUILnbXdoF/ZPszsF
ufkBPBkTT168cTR+H7+IF5+djkqjxoSdZOY3877vPDPzvgvgkfMMDmbfIT5YdrDmlCyXsORsWHbx
2Aksl1FxPltewNPSpuVFVErvLC+h6S5bXsaK+9ryCh66Hy2vYsP9brmCe+WW5TUsll9R0Skvc/be
qBfs4Am+WS5h1Vm37KLlVC2XIZy3lhfwxvlqeRGidG55CeelT5aX8cB9bnkFDXdoeRUv3S+WK1gv
C8truF/u4gYCdbSxg21ULbfZ/+Ytww14bA1SFwFSDKDIfVwjhybHHAVfP8GQ1gwT0/vGFkCauIhN
cDXECGNacjNTHBXHS+uJG1Fv72xX2bfrpt+qiobnNUQ3SAdK9K9zreJcHCbDNJukma9VIEU3ikQW
jsY6F5nKVXbJReAFptSZmpMUp9VUEDgySiHXY7pM9TTzRV8H4kgF4ZRLx7SPaI0YlXGqRtPIJzR4
uuINmujwNvvYwwHptsZMYXNeoSG9RrPT3d876MzEqLX5U+u/0X+GnJrnyumQ8rnF3LF63ETYVEkz
elwd01ObxCR85iKxhU0yorDGlL7gnoXPGVcj7jyw8ZK+LRbBNhmnKsvDNBGzC/X6gkmRnud1xqke
psmlqEtPNr1O7F+oVJ/JKBzQLuut9rZ3p5vOpy80BePbohmZuTZvoUxatfELTDEWibvgWsobCSbK
5y6Fp8AJS3Ziiq5qSkIylfJXGYS58FlAo5A1lqlA6MwPVOxnFyI9E3v+VGXi5Hqi8qroyy7Dembn
oqyLoknYChX0/GkkjlWSKE6KUtfU3EWN7co0aU46+42kyUxMm7Znw1jryW6tdnV1Jf2i6OUwjWua
wnfZrcbzFe/lc5QmPib9W6MWqZEfybGOo7//Qbf+Gcyn0CbuBxKtA2UAeNpt0XmUDXQYxvHPb2bM
ZswYpMVW0ULi3iuTW5IxiCSJKC2acie3mKs7d5IWRBuhVbQoax2cytq+Ie3rad9pIe1p+Vcz05zm
H8857/t93/M857x/vLI0aN9mMftRyKtvsmTL0UyuPPkKFGquSAvFSrRUqpXW2jhAWwc6yMEO0U57
HXTUyaEOc7jOujjCkY5ytK66OUZ3x+qhp4ho3e1ejtNbmeP1EXeCE/V1kn5O1l+5ASoMNMhgpxhi
qFMNc5rhTjfCGUY60yijnWWMsc52jnHOdZ7zXWC8C1WGLCtc7wbPudsPbrTALZZYbWXINtdnZrvT
Xn+ab5GbbfOVPzxgjb/95R/LPeI1r3jURS52mwnekPCq173jTW952x5V3veu9zzmEr+73Uc+8KGJ
fvKLOS6VdJnJJqm2VMrlpkirUSvjClP96EpXmeZq17rGk5aZYbqZrvOzXz3tY9/41jrrfed7z9hl
t4d8YmfI8bkvfGmHT30dmoVc99X9bIONHveEl2yy2XazbHWTtV72vBc8G/JDgXkeDIUWh+budY/f
QlFoYZU73O9ht7rLQk950ZZQHEpCy1AaWoXWoU1ebXUyEimPNHJgA2MV8Qb2Km/kgIp6xiLRSM6g
2nSqoLIqmSyLxvrECxI1meTkykxiQkMgFin7j9HejYxnV41P1tWkwsoeNbVTEulkKl2Y+n8sSlUn
mpbM1CanODMxnWjy/gUEiK0/AAAAAAAB//8AAnjaHYvbDYAwDAPPoeLx07lYqhUMSxmDOuRi6RLJ
CKjOSU5wsLAhdpNXs3cu+81jHyZ4+ZByQ6HV//K3mftEBzl42m1QsUoDQRB9u3d7hBBCvJgoFhIs
RESCRUghFhZBUAKKWNguiiIcUZLY6n2Bn+IHaa1wtdfHt3ODEpBj583NvHm782AA1HGEHHZ0PL5E
M/PzCbYQs47FAo5gYBGx8l/NeZ/N0bud+mvsZPd3Hv2H6c0Eg9nT4wwHZFphVxMhRhJjiQ4Jmuhi
E9voY6i8feWcKuuqQlOr+qanuEvFlAqfJjbOJMaaiJ0EK1hFh6ojXPC/xVOj4js+8M28qryx0sA5
XuUF69x4DwMc4ot3pWjzC1nxm5WSBZ1UsVAMneUtnoW1JlgolsQXqXcEC8WSGFGnxTfkOpfrXK5z
wbM2d+oy25BtLG9smODomQkOj2WvE2Z1WPXByv6Wym7JH/fnzg9fLDFzeNqllD1MU1EYht97W9pS
2wKCFX9gMAy4yKCEQBgJkYTBH0RRFgcG0TCogzj628nExLGJShSVCFwjEqIJxNAYXIwJyx3owuLC
4sbk8bmnRRCVFLxPvnvv6T283/t9h3PkSIrrmHrldnR29yh15eL1IR1UmN9ljFwezqaRe3ng6pBS
1y7dHFCN/UV2xg2tXcFfBHNdtL8ymrbfI0qrRw/0RGPyVKER80XPiOfEqPmmFzzHzDu9JsZ5n1BM
k2aVuSFNMZ4hZokF5qbUjeKI8VHwUfBR8FHwUfBR8FHwUZAmCY/80yaHgs/bqFlkxiKjRfSWcTlD
xllGjpbMQ+55e4+oRa1qU7uWlJdbdiioIvQoHMd7Pf3wzIrJEFkbnnZ+1dg+7vgyOTNoBkuauUz4
wRPP/n95lu3AsBkucXLjhggqFj3LssIxs8KocYssK39/347PQhQ9B3nXv2Ut34MVLL57G7//UfE2
e7bmGN2MyWz2xCp4dj1yPJf/rc333A7XKPu750CnEIGzwv/AFnlLrjeoYlPeYp/X74WdUqwna8Mr
tX/ruhsGrqp1GFw1QUhHIaxmCPZui6Ls31aVs4fbtIt93K6kusDRGShTH8R0HuLqh4QeQ1JzkNBH
SGgeQvoMSU6BPCePqyOcABUoVsIBVUFCdbCfc6Ge07MB4taBYx2ErIMy6yCqDtitTqjWcaixnso5
0bq1RycgqZOQ0ilI6zTUcXL2kDPwvZfTule1OguVOgf7bCWurSSsC1Bl64noljI4CaqK6imUa0Qv
yf4KqjmHx8k+oTfkfQspTWmGjO8hrQ+aRTnoRcT2IqJPkNYC1NqORG1HYvrhOCg71N/AajSxCs2/
zs4uHPfhqx8vt3VHd3VP9/Ezh+I8GvmfkCg+tAAAeNpjYGRgYOAAYhYGPgamzJTU/KL83DwGJhc3
nxAGvpzEkjwGFQY2BhBgZGACquRhYPwfxgDShVUUAKcdCXAAAHjaY2BgYGQAgpOd+YYg+tDU419h
NABMTwgaAAA=) format('woff'), url('FuturaStd-Medium.ttf')  format('truetype'), url('FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


