<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <a class="logo center-block" href="#"><img alt="Note" src="img/logo.png"></a>
        </div>
        <div class="nav">
          <ul class="list-inline text-center">
            <li><a href="#">REGISTER PRODUCT</a></li>
            <li><a href="#">ABOUT NOTES AUDIO</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
            <li><a href="#">TERMS &amp; CONDITIONS</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 newsletter">
        <h3>GET THE LATEST</h3>
        <div class="description">SIGN UP TO OUR NEWSLETTER</div>
        <form action="">
          <input type="text" placeholder="YOUR EMAIL">
          <a href="#" type="submit">Subscribe</a>
        </form>
      </div>
      <div class="col-sm-4 col-sm-offset-2 social">
        <h3>FOLLOW US</h3>
        <ul class="list-inline">
          <li><a href="#"><img src="img/icons/1415971789_facebook_circle_color.svg" alt=""></a></li>
          <li><a href="#"><img src="img/icons/1415971796_pinterest.svg" alt=""></a></li>
          <li><a href="#"><img src="img/icons/1415971794_instagram_circle_color.svg" alt=""></a></li>
          <li><a href="#"><img src="img/icons/1415971798_UberCons_SocialPack_Flickr.svg" alt=""></a></li>
        </ul>
        <h3>LIKE US</h3>
      </div>
    </div>
  </div>
</section>