<nav>
  <div class="">
    <div class="ceiling">
      <div class="container">
        <span class="lang-select">
          <a href="#">English ></a>
        </span>
        <form>
          <input type="text" placeholder="Search">
          <a href=><span class="glyphicon glyphicon-search"></span></a>  
        </form>
      </div>
    </div>
    <div class="">
      <a class="logo" href="{{site.url}}"><img alt="Note" src="img/logo.png" alt="notes audio"></a>
    </div>
    <div class="nav">
      <ul class="list-inline text-center">
        <li><a href="/nt100.html">PRODUCT</a></li>
        <li><a href="/story.html">STORY</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="#">NOTESAUDIO</a></li>
        <li><a href="#">WHERE TO BUY</a></li>
      </ul>
    </div>
  </div>
</nav>