<div class="row">
  <div class="col-sm-4 small-item">
    <div>Hybrid 1</div>
    <a href="/comingsoon/"><img class="" src="/img/products/1.png" alt=""></a>
    <div>Ultimate detail - Natural soundstage</div>
    <a href="/comingsoon/">explore now</a>
  </div>
  <div class="col-sm-4 small-item">
    <div>Symphony S1</div>
    <a href="/comingsoon/"><img class="" src="/img/products/2.png" alt=""></a>
    <div>Warm and Lush</div>
    <a href="/comingsoon/">explore now</a>
  </div>
  <div class="col-sm-4 small-item">
    <div>Microo</div>
    <a href="/comingsoon/"><img class="" src="/img/products/3.png" alt=""></a>
    <div>Extend Clarity &amp; Detail</div>
    <a href="/comingsoon/">explore now</a>
  </div>
</div>
